@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;

    OrganizationQueryViewModel _viewModel = (OrganizationQueryViewModel)ViewBag.ViewModel;
    _viewModel.UrlAction = Url.Action("InquireCompany", "OrganizationQuery");

    ViewBag.ActionName = "營業人資料維護";

}
<!--交易畫面標題-->
<div class="py-2 eivo__title d-flex align-items-center justify-content-between">
    @{
        await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "營業人資料維護");
    }
</div>

<!-- 查詢框 -->
<div id="queryArea" class="mb-4 card shadow-sm border-2 rounded-3">
    <div class="card-body">
        <form id="queryForm" method="post" enctype="multipart/form-data">
            <!-- 查詢條件 -->
            <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4">
                <div class="py-2 col">
                    <div class="row">
                        <label for="ReceiptNo" class="col-md-4 col-form-label fw-bold text-nowrap">
                            統編
                        </label>
                        <div class="col">
                            <input name="ReceiptNo" type="text" class="form-control form-control-sm"
                                value="@(_viewModel?.ReceiptNo)" />
                        </div>
                    </div>
                </div>
                <div class="py-2 col">
                    <div class="row">
                        <label for="CompanyName" class="col-md-4 col-form-label fw-bold text-nowrap">
                            營業人名稱
                        </label>
                        <div class="col">
                            <input name="CompanyName" type="text" class="form-control form-control-sm"
                                value="@(_viewModel?.CompanyName)" />
                        </div>
                    </div>
                </div>
                <div class="py-2 col">
                    <div class="row">
                        <label for="OrganizationStatus" class="col-md-4 col-form-label fw-bold text-nowrap">
                            營業人狀態
                        </label>
                        <div class="col">
                            <select name="OrganizationStatus" class="form-select form-select-sm">
                                <option value="">全部</option>
                                <option value="1103">已啟用</option>
                                <option value="1101">已停用</option>
                            </select>
                            @if (_viewModel?.OrganizationStatus.HasValue == true)
                            {
                                <script>
                                    $(function () {
                                        $('select[name="organizationStatus"]').val('@((int)_viewModel.OrganizationStatus)');
                                    });
                                </script>
                            }
                        </div>
                    </div>
                </div>
                <div class="py-2 col">
                    <div class="row">
                        <label for="CategoryID" class="col-md-4 col-form-label fw-bold text-nowrap">
                            營業人類別
                        </label>
                        <div class="col">
                            <select name="CategoryID" class="form-select form-select-sm">
                                <option value="">全部</option>
                                <option value="@((int)CategoryDefinition.CategoryEnum.發票開立營業人)">發票開立營業人</option>
                                <option value="@((int)CategoryDefinition.CategoryEnum.經銷商)">經銷商</option>
                                <option value="@((int)CategoryDefinition.CategoryEnum.境外電商)">境外電商</option>
                                <option value="@((int)CategoryDefinition.CategoryEnum.集團成員)">集團成員</option>
                                <option value="@((int)CategoryDefinition.CategoryEnum.相對營業人)">相對營業人</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="py-2 col">
                    <div class="row">
                        <label for="AgentID" class="col-md-4 col-form-label fw-bold text-nowrap">
                            所屬經銷商
                        </label>
                        <div class="col">
                            <select name="AgentID" class="form-select form-select-sm">
                                <option value="">全部</option>
                                @{
                                    var orgCate = models.GetTable<OrganizationCategory>().Where(c => c.CategoryID ==
                                    (int)CategoryDefinition.CategoryEnum.經銷商);
                                    var agents = models.GetTable<Organization>().Where(o => orgCate.Any(c => c.CompanyID ==
                                    o.CompanyID));
                                }
                                @foreach (var item in agents.OrderBy(o => o.ReceiptNo))
                                {
                                    <option value="@(item.CompanyID)">(@(item.ReceiptNo))@(item.CompanyName)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="py-2 col">
                    <div class="row d-flex align-items-center">
                        <label for="BranchRelation" class="col-md-4 col-form-label fw-bold text-nowrap">
                            分支機構
                        </label>
                        <div class="col pt-1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@($"{true}")"
                                    id="BranchRelation">
                                <label class="form-check-label" for="flexCheckDefault">
                                    是
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--按鈕-->
            <div class="mt-3 px-1 d-block text-end">
                <button id="btnQuery" type="button" class="px-3 my-1 me-1 btn btn-sm eivo__btn--default"
                    onclick="$inquiryAgent.initQuery = true; $inquiryAgent.inquire();">
                    查詢
                </button>
            </div>
        </form>
    </div>
</div>
<!-- 顯示列表 -->
<div id="resultList"></div>

<script>
    var $result;
    function inquireCompany(pageNum, onPaging) {
        $('form').ajaxForm({
            url: "@(Url.Action("InquireCompany", "OrganizationQuery"))" + "?pageIndex=" + pageNum,
            beforeSubmit: function () {
                showLoading();
            },
            success: function (data) {
                if (data) {
                    if (onPaging) {
                        onPaging(data);
                    } else {
                        if ($result)
                            $result.remove();
                        $result = $(data);
                        $('.queryAction').after($result);
                    }
                }
                hideLoading();
            },
            error: function () {
                hideLoading();
            }
        }).submit();
    }

    function createCompany(keyID) {
        $.post('@(Url.Action("EditItem", "Organization"))', { 'keyID': keyID }, function (data) {
            $global.createModal('editOrganization', '營業人管理', data, true);
        });
    }

    function editCompany(value) {
        $.post('@(Url.Action("EditItem", "Organization"))', { 'keyID': value }, function (data) {
            $global.createModal('editOrganization', '營業人管理', data, true);
        });
    }

    function customSettings(value) {
        $.post('@(Url.Action("CustomSettings", "Organization"))', { 'keyID': value }, function (data) {
            $global.createTab('customSettings', '營業人客製化服務設訂', data, true);
        });
    }

    function disableCompany(value) {
        if (confirm('確認停用此筆資料?')) {
            invokeAction('../Handling/DisableCompany',
                { 'companyID': value },
                function () {
                    inquireCompany(pageNum, function (data) {
                        $('.companyList').html(data);
                    });
                });
        }
    }

    function enableCompany(value) {
        if (confirm('確認啟用此筆資料?')) {
            invokeAction('../Handling/EnableCompany',
                { 'companyID': value },
                function () {
                    inquireCompany(pageNum, function (data) {
                        $('.companyList').html(data);
                    });
                });
        }
    }

    function applyWelfare(value) {

    }

    // 建立憑證資訊
    function applyCertificate(value) {
        showLoading();
        $.post('@(Url.Action("OrganizationCertificate", "CertificateIdentity"))', { 'companyID': value }, function (data) {
            hideLoading();
            if ($.isPlainObject(data)) {
                alert(data.message);
            } else {
                $(data).appendTo($('body'));
            }
        });
    }

    function applyAgency(value) {
        $.post('@(Url.Action("ApplyIssuerAgent", "Organization"))', { 'keyID': value }, function (data) {
            $global.createTab('applyIssuerAgent', '發票經銷商', data, true);
        });
    }

    function applyMaster(value) {
        $.post('@(Url.Action("ApplyMaster", "Organization"))', { 'keyID': value }, function (data) {
            $global.createTab('applyMaster', '指派主機構', data, true);
        });
    }

    function applyBilling(value) {
        $.post('@(Url.Action("ApplyBillingPlan", "Organization"))', { 'keyID': value }, function (data) {
            $global.createTab('applyBilling', '收費標準', data, true);
        });
    }


    function applyPOS(value) {
        actionHandler('@(Url.Action("ApplyPOSDevice", "InvoiceBusiness"))',
            { 'id': value },
            function () {
            }, 800, 560);
    }

    function applyRelationship(value) {
        if (confirm('確認設定此開立人為B2B營業人?')) {
            invokeAction('../Handling/ApplyRelationship',
                { 'companyID': value },
                function () {
                    $inquiryAgent.inquire();
                });
        }
    }

    function commitMaster(keyID, action) {
        if (confirm(action)) {
            invokeAction('../Handling/CommitMasterOrganization',
                { 'KeyID': keyID },
                function (resultValue) {
                    if (resultValue.result) {
                        alertModal('作業完成!!');
                        $inquiryAgent.inquire();
                    } else {
                        alertModal(resultValue.message);
                    }
                });
        }
    }

    function inquireUser(value) {
        $.post('@(Url.Action("AccountIndex", "Account", new { showTab = true }))', { 'sellerID': value }, function (data) {
            $global.createTab('@("listUser" + DateTime.Now.Ticks)', '使用者管理', data, true);
        });
    }

    function cloneBilling(element) {
        if (confirm('確定複製營業人收費標準，原營業人收費設定將被取代?')) {
            var $inputSrc = $(element).closest('table');
            var viewModel = $inputSrc.find('input[name="chkItem"],input[name="SellerID"]')
                .serializeObject();
            invokeAction('@(Url.Action("CloneBillingPlan", "Organization"))',
                viewModel,
                function (data) {
                    if ($.isPlainObject(data)) {
                        if (data.result) {
                            alertModal('複製完成!!');
                        }
                    }
                });
        }
    }

    function applyHeadquarter(element) {
        var $inputSrc = $(element).closest('table');
        var viewModel = $inputSrc.find('input[name="chkItem"],input[name="SellerID"]')
            .serializeObject();
        invokeAction('@(Url.Action("ApplyHeadquarter", "Organization"))',
            viewModel,
            function (data) {
                if ($.isPlainObject(data)) {
                    if (data.result) {
                        alertModal('設定完成!!');
                    }
                }
            });
    }
</script>
