@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Html


@using WebHome.Helper
@using ModelCore.Locale
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using WebHome.Controllers
@{

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    OrganizationViewModel _viewModel;
    Organization _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _viewModel = (OrganizationViewModel)ViewBag.ViewModel;
    _model = (Organization)this.Model;

    BillingGrade gradeItem = null;
    BillingIncrement increment = null;

    String _viewID = $"billing{DateTime.Now.Ticks}";
}

<!-- 設定收費標準 -->

<form id="@(_viewID)">
    <h5 class="my-2 py-1 fs-5 fw-bold text-success border-2 border-start border-bottom border-success ps-2">
        <i class="fas fa-caret-right"></i>
        收費標準
    </h5>
    <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2">
        <div class="py-2 col">
            <div class="row">
                <label for="BasicFee" class="col-md-4 col-form-label fw-bold text-nowrap">
                    每月基本費(元)
                </label>
                <div class="col">
                    <input type="hidden" name="GradeCount" value="1" />
                    <input type="text" name="BasicFee" class="form-control form-control-sm"
                        value='@(gradeItem?.BasicFee)' />
                </div>
            </div>
        </div>
        <div class="py-2 col"></div>
        <div class="py-2 col">
            <div class="row">
                <label for="GradeCount1" class="col-md-4 col-form-label fw-bold text-nowrap">
                    級距一、每月開立張數
                    @{
                        gradeItem = _model.BillingGrade.Count > 1 ? _model.BillingGrade[1] : null;
                    }
                </label>
                <div class="col">
                    <input type="text" id="GradeCount1" name="GradeCount" class="form-control form-control-sm"
                        value='@(gradeItem?.GradeCount)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="BasicFee1" class="col-md-4 col-form-label fw-bold text-nowrap">
                    以上(含)，收費(元)
                </label>
                <div class="col">
                    <input type="text" id="BasicFee1" name="BasicFee" class="form-control form-control-sm"
                        value='@(gradeItem?.BasicFee)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="GradeCount2" class="col-md-4 col-form-label fw-bold text-nowrap">
                    級距二、每月開立張數
                    @{
                        gradeItem = _model.BillingGrade.Count > 2 ? _model.BillingGrade[2] : null;
                    }
                </label>
                <div class="col">
                    <input type="text" id="GradeCount2" name="GradeCount" class="form-control form-control-sm"
                        value='@(gradeItem?.GradeCount)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="BasicFee2" class="col-md-4 col-form-label fw-bold text-nowrap">
                    以上(含)，收費(元)
                </label>
                <div class="col">
                    <input type="text" id="BasicFee2" name="BasicFee" class="form-control form-control-sm"
                        value='@(gradeItem?.BasicFee)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="GradeCount3" class="col-md-4 col-form-label fw-bold text-nowrap">
                    級距三、每月開立張數
                    @{
                        gradeItem = _model.BillingGrade.Count > 3 ? _model.BillingGrade[2] : null;
                    }
                </label>
                <div class="col">
                    <input type="text" id="GradeCount3" name="GradeCount" class="form-control form-control-sm"
                        value='@(gradeItem?.GradeCount)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="BasicFee3" class="col-md-4 col-form-label fw-bold text-nowrap">
                    以上(含)，收費(元)
                </label>
                <div class="col">
                    <input type="text" id="BasicFee3" name="BasicFee" class="form-control form-control-sm"
                        value='@(gradeItem?.BasicFee)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="GradeCount4" class="col-md-4 col-form-label fw-bold text-nowrap">
                    級距四、每月開立張數
                    @{
                        gradeItem = _model.BillingGrade.Count > 4 ? _model.BillingGrade[4] : null;
                    }
                </label>
                <div class="col">
                    <input type="text" id="GradeCount4" name="GradeCount" class="form-control form-control-sm"
                        value='@(gradeItem?.GradeCount)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="BasicFee4" class="col-md-4 col-form-label fw-bold text-nowrap">
                    以上(含)，收費(元)
                </label>
                <div class="col">
                    <input type="text" id="BasicFee4" name="BasicFee" class="form-control form-control-sm"
                        value='@(gradeItem?.BasicFee)' />
                </div>
            </div>
        </div>
    </div>
    <h5 class="my-2 py-1 fs-5 fw-bold text-success border-2 border-start border-bottom border-success ps-2">
        <i class="fas fa-caret-right"></i>
        增量收費
    </h5>
    <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2">
        <div class="py-2 col">
            <div class="row">
                <label for="UpperBound1" class="col-md-4 col-form-label fw-bold text-nowrap">
                    級距一、每月開立張數超過
                    @{
                        increment = _model.BillingIncrement.Count > 0 ? _model.BillingIncrement[0] : null;
                    }
                </label>
                <div class="col">
                    <input type="text" id="UpperBound1" name="UpperBound" class="form-control form-control-sm"
                        value='@(increment?.UpperBound)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="UnitFee1" class="col-md-4 col-form-label fw-bold text-nowrap">
                    ，每張增收(元)
                </label>
                <div class="col">
                    <input type="text" id="UnitFee1" name="UnitFee" class="form-control form-control-sm"
                        value='@(increment?.UnitFee)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="UpperBound2" class="col-md-4 col-form-label fw-bold text-nowrap">
                    級距二、每月開立張數超過
                    @{
                        increment = _model.BillingIncrement.Count > 1 ? _model.BillingIncrement[1] : null;
                    }
                </label>
                <div class="col">
                    <input type="text" id="UpperBound2" name="UpperBound" class="form-control form-control-sm"
                        value='@(increment?.UpperBound)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="UnitFee2" class="col-md-4 col-form-label fw-bold text-nowrap">
                    ，每張增收(元)
                </label>
                <div class="col">
                    <input type="text" id="UnitFee2" name="UnitFee" class="form-control form-control-sm"
                        value='@(increment?.UnitFee)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="UpperBound3" class="col-md-4 col-form-label fw-bold text-nowrap">
                    級距三、每月開立張數超過
                    @{
                        increment = _model.BillingIncrement.Count > 2 ? _model.BillingIncrement[2] : null;
                    }
                </label>
                <div class="col">
                    <input type="text" id="UpperBound3" name="UpperBound" class="form-control form-control-sm"
                        value='@(increment?.UpperBound)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="UnitFee3" class="col-md-4 col-form-label fw-bold text-nowrap">
                    ，每張增收(元)
                </label>
                <div class="col">
                    <input type="text" id="UnitFee3" name="UnitFee" class="form-control form-control-sm"
                        value='@(increment?.UnitFee)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="UpperBound4" class="col-md-4 col-form-label fw-bold text-nowrap">
                    級距四、每月開立張數超過
                    @{
                        increment = _model.BillingIncrement.Count > 3 ? _model.BillingIncrement[3] : null;
                    }
                </label>
                <div class="col">
                    <input type="text" id="UpperBound4" name="UpperBound" class="form-control form-control-sm"
                        value='@(increment?.UpperBound)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="UnitFee4" class="col-md-4 col-form-label fw-bold text-nowrap">
                    ，每張增收(元)
                </label>
                <div class="col">
                    <input type="text" id="UnitFee4" name="UnitFee" class="form-control form-control-sm"
                        value='@(increment?.UnitFee)' />
                </div>
            </div>
        </div>
    </div>
    <h5 class="my-2 py-1 fs-5 fw-bold text-success border-2 border-start border-bottom border-success ps-2">
        <i class="fas fa-caret-right"></i>
        特別費用
    </h5>
    @{
        List<ExtraBillingItem> extraItems = _model.ExtraBillingItem.ToList();
        if (extraItems.Count == 0)
        {
            extraItems.Add(new ExtraBillingItem { });
        }
        ExtraBillingItem extraItem = null;
    }
    <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2">
        <div class="py-2 col">
            <div class="row">
                <label for="ItemName1" class="col-md-4 col-form-label fw-bold text-nowrap">
                    費用名稱一、
                    @{
                        extraItem = extraItems.Count > 0 ? extraItems[0] : null;
                    }
                </label>
                <div class="col">
                    <input type="text" id="ItemName1" name="ItemName" class="form-control form-control-sm"
                        value='@(extraItem?.ItemName)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="Fee1" class="col-md-4 col-form-label fw-bold text-nowrap">
                    收費金額(元)
                </label>
                <div class="col">
                    <input type="text" id="Fee1" name="Fee" class="form-control form-control-sm"
                        value='@(extraItem?.Fee)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="BillingDate1" class="col-md-4 col-form-label fw-bold text-nowrap">
                    收費起算日期
                </label>
                <div class="col">
                    <input type="text" id="BillingDate1" name="BillingDate"
                        class="form_date form-control form-control-sm" value='@(extraItem?.BillingDate)'
                        readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="BillingType1" class="col-md-4 col-form-label fw-bold text-nowrap">
                    收費類型
                </label>
                <div class="col">
                    <select id="BillingType1" name="BillingType" class="form-select form-select-sm">
                        <option value="@((int)ExtraBillingItem.BillingTypeEnum.PayOnce)"
                            selected="@(extraItem?.BillingType == (int)ExtraBillingItem.BillingTypeEnum.PayOnce)">
                            一次性收費</option>
                        <option value="@((int)ExtraBillingItem.BillingTypeEnum.PayContinuous)"
                            selected="@(extraItem?.BillingType == (int)ExtraBillingItem.BillingTypeEnum.PayContinuous)">
                            每月持續收費</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="ItemName2" class="col-md-4 col-form-label fw-bold text-nowrap">
                    費用名稱二、
                    @{
                        extraItem = extraItems.Count > 1 ? extraItems[1] : null;
                    }
                </label>
                <div class="col">
                    <input type="text" id="ItemName2" name="ItemName" class="form-control form-control-sm"
                        value='@(extraItem?.ItemName)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="Fee2" class="col-md-4 col-form-label fw-bold text-nowrap">
                    收費金額(元)
                </label>
                <div class="col">
                    <input type="text" id="Fee2" name="Fee" class="form-control form-control-sm"
                        value='@(extraItem?.Fee)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="BillingDate2" class="col-md-4 col-form-label fw-bold text-nowrap">
                    收費起算日期
                </label>
                <div class="col">
                    <input type="text" id="BillingDate2" name="BillingDate"
                        class="form_date form-control form-control-sm" value='@(extraItem?.BillingDate)'
                        readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="BillingType2" class="col-md-4 col-form-label fw-bold text-nowrap">
                    收費類型
                </label>
                <div class="col">
                    <select id="BillingType2" name="BillingType" class="form-select form-select-sm">
                        <option value="@((int)ExtraBillingItem.BillingTypeEnum.PayOnce)"
                            selected="@(extraItem?.BillingType == (int)ExtraBillingItem.BillingTypeEnum.PayOnce)">
                            一次性收費</option>
                        <option value="@((int)ExtraBillingItem.BillingTypeEnum.PayContinuous)"
                            selected="@(extraItem?.BillingType == (int)ExtraBillingItem.BillingTypeEnum.PayContinuous)">
                            每月持續收費</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="ItemName3" class="col-md-4 col-form-label fw-bold text-nowrap">
                    費用名稱三、
                    @{
                        extraItem = extraItems.Count > 2 ? extraItems[2] : null;
                    }
                </label>
                <div class="col">
                    <input type="text" id="ItemName3" name="ItemName" class="form-control form-control-sm"
                        value='@(extraItem?.ItemName)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="Fee3" class="col-md-4 col-form-label fw-bold text-nowrap">
                    收費金額(元)
                </label>
                <div class="col">
                    <input type="text" id="Fee3" name="Fee" class="form-control form-control-sm"
                        value='@(extraItem?.Fee)' />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="BillingDate3" class="col-md-4 col-form-label fw-bold text-nowrap">
                    收費起算日期
                </label>
                <div class="col">
                    <input type="text" id="BillingDate3" name="BillingDate"
                        class="form_date form-control form-control-sm" value='@(extraItem?.BillingDate)'
                        readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="BillingType4" class="col-md-4 col-form-label fw-bold text-nowrap">
                    收費類型
                </label>
                <div class="col">
                    <select id="BillingType4" name="BillingType" class="form-select form-select-sm">
                        <option value="@((int)ExtraBillingItem.BillingTypeEnum.PayOnce)"
                            selected="@(extraItem?.BillingType == (int)ExtraBillingItem.BillingTypeEnum.PayOnce)">
                            一次性收費</option>
                        <option value="@((int)ExtraBillingItem.BillingTypeEnum.PayContinuous)"
                            selected="@(extraItem?.BillingType == (int)ExtraBillingItem.BillingTypeEnum.PayContinuous)">
                            每月持續收費</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <h5 class="my-2 py-1 fs-5 fw-bold text-success border-2 border-start border-bottom border-success ps-2">
        <i class="fas fa-caret-right"></i>
        開立張數採計基準
    </h5>
    <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4">
        <div class="py-2 col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="CalcType1" name="CalcType"
                    value='@((int)Naming.DocumentTypeDefinition.E_Invoice)' checked="checked">
                <label class="form-check-label" for="CalcType1">
                    發票
                </label>
            </div>
        </div>
        <div class="py-2 col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="CalcType2" name="CalcType"
                    value='@((int)Naming.DocumentTypeDefinition.E_InvoiceCancellation)'
                    checked="@(_model.BillingCalculation.Any(c => c.TypeID == (int)Naming.DocumentTypeDefinition.E_InvoiceCancellation))">
                <label class="form-check-label" for="CalcType2">
                    作廢發票
                </label>
            </div>
        </div>
        <div class="py-2 col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="CalcType3" name="CalcType"
                    value='@((int)Naming.DocumentTypeDefinition.E_Allowance)'
                    checked="@(_model.BillingCalculation.Any(c => c.TypeID == (int)Naming.DocumentTypeDefinition.E_Allowance))">
                <label class="form-check-label" for="CalcType3">
                    折讓證明
                </label>
            </div>
        </div>
        <div class="py-2 col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="CalcType4" name="CalcType"
                    value='@((int)Naming.DocumentTypeDefinition.E_AllowanceCancellation)'
                    checked="@(_model.BillingCalculation.Any(c => c.TypeID == (int)Naming.DocumentTypeDefinition.E_AllowanceCancellation))">
                <label class="form-check-label" for="CalcType4">
                    作廢折讓證明
                </label>
            </div>
        </div>
    </div>
    <h5 class="my-2 py-1 fs-5 fw-bold text-success border-2 border-start border-bottom border-success ps-2">
        <i class="fas fa-caret-right"></i>
        出帳週期(月)
    </h5>
    <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4">
        <div class="py-2 col">
            @{
                BillingExtension extension = _model.BillingExtension;
            }
            <select name="BillingCycle" class="form-select form-select-sm">
                <option value="1" selected="@(extension?.BillingCycleInMonth == 1)">1個月</option>
                <option value="2" selected="@(extension?.BillingCycleInMonth == 2)">2個月</option>
                <option value="3" selected="@(extension?.BillingCycleInMonth == 3)">1季</option>
                <option value="6" selected="@(extension?.BillingCycleInMonth == 6)">半年</option>
                <option value="12" selected="@(extension?.BillingCycleInMonth == 12)">1年</option>
            </select>
        </div>
    </div>
    <div class="mt-4 modal-footer">
        <button name="Reset" type="reset" class="mx-1 px-3 btn btn-sm eivo__btn--reset">
            重填
        </button>
        <button type="button" name="UpdateButton" class="mx-1 px-3 btn btn-sm eivo__btn--default"
            data-bs-dismiss="modal" onclick="$global.commitBillingPlan();">
            確定
        </button>
    </div>
</form>
<script>
    // 日期選擇器
    flatpickr('#BillingDate1, #BillingDate2, #BillingDate3', config);

    $(function () {
        $global.commitBillingPlan = function () {
            var event = event || window.event;
            $form = $(event.target).closest('form');
            var viewModel = $form.serializeObject();
            viewModel.KeyID = '@(_viewModel.KeyID)';
            clearErrors();
            showLoading();
            $.post('@(Url.Action("CommitBillingPlan", "Organization"))', viewModel, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    if (data.result) {
                        if (confirm('資料已儲存，是否關閉？')) {
                            $global.removeTab('applyBilling');
                        }
                    } else {
                        alert(data.message);
                    }
                } else {
                    $(data).appendTo($('body'));
                }
            });
        };
    });
</script>
