@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Html


@using WebHome.Helper
@using ModelCore.Locale
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using WebHome.Controllers
@{

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    OrganizationViewModel _viewModel;
    Organization _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _viewModel = (OrganizationViewModel)ViewBag.ViewModel;
    _model = (Organization)this.Model;
}

<!-- 指派主機構 -->
@{
    //await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "指派主機構");
}

<form id="ApplyMaster">
    <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2">
        @{
            var items = models.GetTable<Organization>()
            .Where(o => o.MasterOrganization != null)
            .OrderBy(o => o.ReceiptNo);
        }
        @foreach (var item in items)
        {
            <div class="py-2 col">
                <input type="radio" onclick="excludeCheck();" name="masterID" id="@(item.CompanyID)"
                    class="me-1 form-check-input" value="@(item.CompanyID)"
                    checked="@(models.GetTable<MasterBranch>().Where(b => b.MasterID == item.CompanyID).Any(b => b.BranchID == _model.CompanyID))" />
                <label class="form-check-label" for="@(item.CompanyID)">
                    @(String.Concat("(", item.ReceiptNo, ")", item.CompanyName))
                </label>
            </div>
        }
    </div>
    <div class="mt-4 modal-footer">
        <input name="Reset" type="reset" class="mx-1 px-3 btn btn-sm eivo__btn--reset" value="重填">
        <button type="button" name="UpdateButton" class="mx-1 px-3 btn btn-sm eivo__btn--default"
            data-bs-dismiss="modal" onclick="$global.commitMaster();">確定</button>
    </div>
</form>
<script>
    $(function () {
        $global.commitMaster = function () {
            const $formData = $('#ApplyMaster');
            const viewModel = {
                'KeyID': '@Html.Raw(_model.CompanyID.EncryptKey())',
                ...$formData.serializeObject()
            };
            $.post('@(Url.Action("CommitMaster", "Organization"))', viewModel, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    if (data.result) {
                        alert('資料已儲存');
                    } else {
                        alert(data.message);
                    }
                } else {
                    $(data).appendTo($('body'));
                }
            });
        };
    });

    function excludeCheck() {
        const $this = $(event.target);
        if ($this.is(':checked')) {
            $('input[name="masterID"]:checked').prop('checked', false);
            $this.prop('checked', true);
        }
    }
</script>
