@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Html


@using WebHome.Helper
@using ModelCore.Locale
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using WebHome.Controllers
@{

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    CustomSmtpHost _viewModel;
    Organization _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _viewModel = (CustomSmtpHost)ViewBag.ViewModel;
    _model = (Organization)this.Model;

    CustomSmtpHost settings = _model.CustomSmtpHost.OrderByDescending(s => s.HostID).FirstOrDefault();
    if (settings?.Status == (int)CustomSmtpHost.StatusType.Disabled)
    {
        settings = null;
    }
}

<h5 class="my-2 py-1 fs-5 fw-bold text-success border-2 border-start border-bottom border-success ps-2">
    <i class="fas fa-caret-right"></i>
    設定發送通知郵件伺服器 ( SMTP )
</h5>
<div id="smtpSettings" class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2">
    <div class="py-2 col">
        <div class="row">
            <label for="ReceiptNo" class="col-md-6 col-form-label fw-bold text-nowrap">
                伺服器 Domain name 或 IP
                <span style="color: red">*</span>
            </label>
            <div class="col">
                <input type="text" id="Host" name="Host" class="form-control form-control-sm"
                    value="@(settings?.Host)" />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="ReceiptNo" class="col-md-4 col-form-label fw-bold text-nowrap">
                Port
                <span style="color: red">*</span>
            </label>
            <div class="col">
                <input type="text" id="Port" name="Port" class="form-control form-control-sm"
                    value="@(settings?.Port)" />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="ReceiptNo" class="col-md-4 col-form-label fw-bold text-nowrap">
                登入帳號
            </label>
            <div class="col">
                <input type="text" id="UserName" name="UserName" class="form-control form-control-sm"
                    value="@(settings?.UserName)" placeholder="請輸入smtp登入帳號" />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="ReceiptNo" class="col-md-4 col-form-label fw-bold text-nowrap">
                密碼
            </label>
            <div class="col">
                <input type="password" id="Password" name="Password" class="form-control form-control-sm"
                    placeholder="請輸入 smtp 登入密碼" />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="ReceiptNo" class="col-md-4 col-form-label fw-bold text-nowrap">
                寄件人email
                <span style="color: red">*</span>
            </label>
            <div class="col">
                <input type="text" id="MailFrom" name="MailFrom" class="form-control form-control-sm"
                    value='@(settings?.MailFrom)' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row align-items-center">
            <label for="ReceiptNo" class="col-md-4 col-form-label fw-bold text-nowrap">
                使用SSL
                <span style="color: red">*</span>
            </label>
            <div class="col">
                <input type="checkbox" id="EnableSsl" name="EnableSsl" class="me-1 form-check-input"
                    value="@($"{true}")" checked="@(settings?.EnableSsl == true)" />
                <label class="form-check-label" for="EnableSsl">
                    使用SSL連線
                </label>

            </div>
        </div>
    </div>
</div>
<div class="mt-4 modal-footer">
    @if (settings != null && settings.Status != (int)CustomSmtpHost.StatusType.Disabled)
    {
        <button name="pending" type="button" class="mx-1 px-3 btn btn-sm eivo__btn--red" data-bs-dismiss="modal"
            onclick="$global.disableSmtpSettings('@Html.Raw(_model.CompanyID.EncryptKey())');">
            停用
        </button>
    }
    <button type="button" name="ApplyUse" class="mx-1 px-3 btn btn-sm eivo__btn--default" data-bs-dismiss="modal"
        onclick="$global.commitSmtpSettings('@Html.Raw(_model.CompanyID.EncryptKey())');">
        設定使用
    </button>
</div>