@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Html


@using WebHome.Helper
@using ModelCore.Locale
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using WebHome.Controllers
@{

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    OrganizationViewModel _viewModel;
    Organization _model;


    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _viewModel = (OrganizationViewModel)ViewBag.ViewModel;
    _model = (Organization)this.Model;

}
<h5 class="my-2 py-1 fs-5 fw-bold text-success border-2 border-start border-bottom border-success ps-2">
    <i class="fas fa-caret-right"></i>
    基本資料
</h5>
<div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
    <div class="py-2 col">
        <div class="row">
            <label for="ReceiptNo" class="col-md-4 col-form-label fw-bold text-nowrap">
                公司統一編號
                <span style="color: red">*</span>
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="ReceiptNo" name="ReceiptNo"
                    value='@(_viewModel.ReceiptNo)' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="CompanyName" class="col-md-4 col-form-label fw-bold text-nowrap">
                名稱
                <span style="color: red">*</span>
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="CompanyName" name="CompanyName"
                    value='@(_viewModel.CompanyName)' />
            </div>
        </div>
    </div>
</div>
<div class="px-2 row row-cols-1">
    <div class="py-2 col">
        <div class="row">
            <label for="Addr" class="col-2 col-form-label fw-bold text-nowrap">
                地址
                <span style="color: red">*</span>
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="Addr" name="Addr"
                    value='@(_viewModel.Addr)' />
            </div>
        </div>
    </div>
</div>
<div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
    <div class="py-2 col">
        <div class="row">
            <label for="Phone" class="col-md-4 col-form-label fw-bold text-nowrap">
                電話
                <span style="color: red">*</span>
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="Phone" name="Phone"
                    value='@(_viewModel.Phone)' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="Fax" class="col-md-4 col-form-label fw-bold text-nowrap">
                傳真
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="Fax" name="Fax"
                    value='@(_viewModel.Fax)' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="UndertakerName" class="col-md-4 col-form-label fw-bold text-nowrap">
                公司負責人
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="UndertakerName" name="UndertakerName"
                    value='@(_viewModel.UndertakerName)' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="CategoryID" class="col-md-4 col-form-label fw-bold text-nowrap">
                類別
                <span style="color: red">*</span>
            </label>
            <div class="col">
                <select id="CategoryID" name="CategoryID" class="form-select form-select-sm">
                    <option value="">請選擇</option>
                    @{
                        await Html.RenderPartialAsync("~/Views/SystemInfo/OrganizationCategoryOptions.cshtml");
                    }
                </select>
                <script>
                    $('select[name="CategoryID"]').val('@((int?)_viewModel.CategoryID)');
                </script>
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="CustomerNo" class="col-md-4 col-form-label fw-bold text-nowrap">
                營業人店號／別名
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="CustomerNo" name="CustomerNo"
                    value='@(_viewModel.CustomerNo)' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        @if (_model != null)
        {
            <button type="button" class="mx-1 px-3 btn btn-sm eivo__btn--default" onclick="applyE0501();">E0501取號設定</button>
            <script>
                function applyE0501() {
                    doPost('@Html.Raw(Url.Action("ApplyE0501Settings", "Organization"))', { 'KeyID': '@Html.Raw(_model.CompanyID.EncryptKey())' }, function (data) {
                        var $data = $(data);
                        $('body').append($data);
                    });
                }
            </script>
            <button type="button" class="mx-1 px-3 btn btn-sm eivo__btn--default"
                onclick="applyZeroTaxRateReason();">預設零稅率原因</button>
            <script>
                function applyZeroTaxRateReason() {
                    doPost('@Html.Raw(Url.Action("ApplyZeroTaxRateReason", "Organization"))', { 'KeyID': '@Html.Raw(_model.CompanyID.EncryptKey())' }, function (data) {
                        var $data = $(data);
                        $('body').append($data);
                    });
                }
            </script>
        }
    </div>
</div>
<h5 class="my-2 py-1 fs-5 fw-bold text-success border-2 border-start border-bottom border-success ps-2">
    <i class="fas fa-caret-right"></i>
    聯絡方式
</h5>
<div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
    <div class="py-2 col">
        <div class="row">
            <label for="ContactName" class="col-md-4 col-form-label fw-bold text-nowrap">
                聯絡人姓名
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="ContactName" name="ContactName"
                    value='@(_viewModel.ContactName)' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="ContactTitle" class="col-md-4 col-form-label fw-bold text-nowrap">
                聯絡人職稱
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="ContactTitle" name="ContactTitle"
                    value='@(_viewModel.ContactTitle)' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="ContactPhone" class="col-md-4 col-form-label fw-bold text-nowrap">
                聯絡人電話
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="ContactPhone" name="ContactPhone"
                    value='@(_viewModel.ContactPhone)' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="ContactMobilePhone" class="col-md-4 col-form-label fw-bold text-nowrap">
                聯絡人行動電話
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="ContactMobilePhone" name="ContactMobilePhone"
                    value='@(_viewModel.ContactMobilePhone)' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="ContactEmail" class="col-md-4 col-form-label fw-bold text-nowrap">
                聯絡人電子郵件
                <span style="color: red">*</span>
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="ContactEmail" name="ContactEmail"
                    value='@(_viewModel.ContactEmail)' />
            </div>
        </div>
    </div>
    <div class="py-2 col"></div>
    <div class="py-2 col">
        <div class="row">
            <label for="CreationDate" class="col-md-4 col-form-label fw-bold text-nowrap">
                建檔日期
            </label>
            <div class="col">
                <input type="text" class="form_date form-control form-control-sm" id="CreationDate" name="CreationDate"
                    value='@($"{_viewModel.CreationDate:yyyy/MM/dd}")' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="ExpirationDate" class="col-md-4 col-form-label fw-bold text-nowrap">
                註記停用日期
            </label>
            <div class="col">
                <input type="text" class="form_date form-control form-control-sm" id="ExpirationDate"
                    name="ExpirationDate" value='@($"{_viewModel.ExpirationDate:yyyy/MM/dd}")' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="AuthorizationRange" class="col-md-4 col-form-label fw-bold text-nowrap">
                授權期間
            </label>
            <div class="col d-flex align-items-center">
                <input id="AuthorizationNotBefore" name="AuthorizationNotBefore" type="text" placeholder="請輸入起日"
                    class="form_date form-control form-control-sm"
                    value='@($"{_viewModel.AuthorizationNotBefore:yyyy/MM/dd}")' />
                <div class="mx-2">~</div>
                <input id="AuthorizationNotAfter" name="AuthorizationNotAfter" type="text" placeholder="請輸入迄日"
                    class="form_date form-control form-control-sm"
                    value='@($"{_viewModel.AuthorizationNotAfter:yyyy/MM/dd}")' />
            </div>
            <div class="text-danger d-flex justify-content-end text-nowrap pt-1">
                <span id="dateAuthorizationAlert" class="text-danger pe-2 d-none pe-1">
                    <span class="mdi mdi-close-thick"></span>
                    結束日期須晚於開始日期
                </span>
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="InvoiceRequest" class="col-md-4 col-form-label fw-bold text-nowrap">
                發票期間
            </label>
            <div class="col d-flex align-items-center">
                <input id="InvoiceRequestNotBefore" name="InvoiceRequestNotBefore" type="text" placeholder="請輸入起日"
                    class="form_date form-control form-control-sm"
                    value='@($"{_viewModel.InvoiceRequestNotBefore:yyyy/MM/dd}")' />
                <div class="mx-2">~</div>
                <input id="InvoiceRequestNotAfter" name="InvoiceRequestNotAfter" type="text" placeholder="請輸入迄日"
                    class="form_date form-control form-control-sm"
                    value='@($"{_viewModel.InvoiceRequestNotAfter:yyyy/MM/dd}")' />
            </div>
            <div class="text-danger d-flex justify-content-end text-nowrap pt-1">
                <span id="dateInvoiceRequestAlert" class="text-danger pe-2 d-none pe-1">
                    <span class="mdi mdi-close-thick"></span>
                    結束日期須晚於開始日期
                </span>
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="TaxNo" class="col-md-4 col-form-label fw-bold text-nowrap">
                稅籍編號
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="TaxNo" name="TaxNo"
                    value='@(_viewModel.TaxNo)' />
            </div>
        </div>
    </div>
    <div class="py-2 col"></div>
</div>

<h5 class="my-2 py-1 fs-5 fw-bold text-success border-2 border-start border-bottom border-success ps-2">
    <i class="fas fa-caret-right"></i>
    設定項目
</h5>
<div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
    <div class="py-2 col">
        <div class="row">
            <label for="SettingInvoiceType" class="col-md-4 col-form-label fw-bold text-nowrap">
                設定發票類別
                <span style="color: red">*</span>
            </label>
            <div class="col">
                <select id="SettingInvoiceType" name="SettingInvoiceType" class="form-select form-select-sm">
                    <option value="">請選擇</option>
                    @{
                        await Html.RenderPartialAsync("~/Views/SystemInfo/InvoiceTypeOptions.cshtml");
                    }
                </select>
                <script>
                    $('select[name="SettingInvoiceType"]').val('@((int?)_viewModel.SettingInvoiceType)');
                </script>
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="AuthorizationNo" class="col-md-4 col-form-label fw-bold text-nowrap">
                電子發票核准函號
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="AuthorizationNo" name="AuthorizationNo"
                    value='@(_viewModel.AuthorizationNo)' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="InvoicePrintView" class="col-md-4 col-form-label fw-bold text-nowrap">
                發票列印樣式
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="InvoicePrintView" name="InvoicePrintView"
                    value='@(_viewModel.InvoicePrintView)' maxlength="160" />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="C0401POSView" class="col-md-4 col-form-label fw-bold text-nowrap">
                熱感紙發票列印樣式
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="C0401POSView" name="C0401POSView"
                    value='@(_viewModel.C0401POSView)' maxlength="160" />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="AllowancePrintView" class="col-md-4 col-form-label fw-bold text-nowrap">
                折讓單列印樣式
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="AllowancePrintView"
                    name="AllowancePrintView" value='@(_viewModel.AllowancePrintView)' maxlength="160" />
            </div>
        </div>
    </div>
</div>
<div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4">
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@($"{true}")" id="SetToPrintInvoice"
                name="SetToPrintInvoice" @(_viewModel.SetToPrintInvoice == true ? "checked" : null) />
            <label class="form-check-label" for="SetToPrintInvoice">
                營業人客製化列印
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="DisableC0401Template" id="DisableC0401"
                name="DisableC0401" checked="@(_viewModel.DisableC0401Template)" />
            <label class="form-check-label" for="DisableC0401">
                停手 C0401 系統樣板
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@($"{true}")" id="EntrustToPrint"
                name="EntrustToPrint" @(_viewModel.EntrustToPrint == true ? "checked" : null) />
            <label class="form-check-label" for="EntrustToPrint">
                B2B 發票買受人可重複列印
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@($"{true}")" id="PrintAll" name="PrintAll"
                @(_viewModel.PrintAll == true ? "checked" : null) />
            <label class="form-check-label" for="PrintAll">
                發票資料全列印
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@($"{true}")" id="SubscribeB2BInvoicePDF"
                name="SubscribeB2BInvoicePDF" @(_viewModel.SubscribeB2BInvoicePDF == true ? "checked" : null) />
            <label class="form-check-label" for="SubscribeB2BInvoicePDF">
                設定接收B2B發票(PDF檔)
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@($"{true}")" id="EnableTrackCodeInvoiceNoValidation"
                name="EnableTrackCodeInvoiceNoValidation" @(_viewModel.EnableTrackCodeInvoiceNoValidation == true ?
                                                                          "checked" : null) />
            <label class="form-check-label" for="EnableTrackCodeInvoiceNoValidation">
                開立發票字軌號碼檢核
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="HybridB2B" id="HybridB2B" name="HybridB2B"
                checked="@(_viewModel.HybridB2B)" />
            <label class="form-check-label" for="HybridB2B">
                以 A0401 開立 B2B 發票
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="InvoiceExchange" id="InvoiceExchange"
                name="InvoiceExchange" checked="@(_viewModel.InvoiceExchange)" />
            <label class="form-check-label" for="InvoiceExchange">
                啟用發票交換
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@($"{true}")" id="SetToOutsourcingCS"
                name="SetToOutsourcingCS" @(_viewModel.SetToOutsourcingCS == true ? "checked" : null) />
            <label class="form-check-label" for="SetToOutsourcingCS">
                使用委外客服
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@($"{true}")" id="DownloadDispatch"
                name="DownloadDispatch" @(_viewModel.DownloadDispatch == true ? "checked" : null) />
            <label class="form-check-label" for="DownloadDispatch">
                設定接收 MIG
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="SendAllowanceMIGManually"
                id="SendAllowanceMIGManually" name="SendAllowanceMIGManually"
                checked="@(_viewModel.SendAllowanceMIGManually)" />
            <label class="form-check-label" for="SendAllowanceMIGManually">
                手動傳送折讓單 MIG
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="InvoiceNotUploadedAlert" id="InvoiceNotUploadedAlert"
                name="InvoiceNotUploadedAlert" checked="@(_viewModel.InvoiceNotUploadedAlert)" />
            <label class="form-check-label" for="InvoiceNotUploadedAlert">
                通知發票未傳送
            </label>
        </div>
    </div>
</div>
<div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="py-2 col">
        <div class="row">
            <label for="settingInvoiceData" class="col-md-2 col-form-label fw-bolder text-nowrap">
                設定傳送發票對應資料
            </label>
            <div class="col pt-1">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="@($"{true}")" id="DownloadDataNumber"
                        name="DownloadDataNumber" @(_viewModel.DownloadDataNumber == true ? "checked" : null) />
                    <label class="form-check-label" for="DownloadDataNumber">
                        使用傳送企業發票對應資料
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="ForcedAuditNo" id="ForcedAuditNo"
                        name="ForcedAuditNo" checked="@(_viewModel.ForcedAuditNo)" />
                    <label class="form-check-label" for="ForcedAuditNo">
                        單據號碼強制唯一
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="IgnoreDuplicatedNo" id="IgnoreDuplicatedNo"
                        name="IgnoreDuplicatedNo" checked="@(_viewModel.IgnoreDuplicatedNo)" />
                    <label class="form-check-label" for="IgnoreDuplicatedNo">
                        傳輸開立忽略檢核發票號碼重複
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="PrevInvoiceData" class="col-md-2 col-form-label fw-bold text-nowrap">
                上期發票空白號碼
            </label>
            <div class="col pt-1">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="@($"{true}")" id="UploadBranchTrackBlank"
                        name="UploadBranchTrackBlank" @(_viewModel.UploadBranchTrackBlank == true ? "checked" : null) />
                    <label class="form-check-label" for="UploadBranchTrackBlank">
                        用戶端自動下載
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="@($"{true}")" id="AutoBlankTrack"
                        name="AutoBlankTrack" checked="@(_viewModel.AutoBlankTrack == true)" />
                    <label class="form-check-label" for="AutoBlankTrack">
                        由系統自動結算
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="@($"{true}")" id="AutoBlankTrackEmittance"
                        name="AutoBlankTrackEmittance" checked="@(_viewModel.AutoBlankTrackEmittance == true)" />
                    <label class="form-check-label" for="AutoBlankTrackEmittance">
                        由系統自動輸出E0402
                    </label>
                </div>
            </div>
        </div>
    </div>
    @if (_model != null)
    {
    <div class="py-2 col">
        <div class="row">
            <label for="fileLogo" class="col-md-2 col-form-label fw-bold text-nowrap">
                公司識別標章
            </label>
            <div class="col pt-1">
                <div class="py-2">
                    <img id="logo" style="max-width:300px;"
                        src="@(_model.LogoURL != null ? VirtualPathUtility.ToAbsolute("~/" + _model.LogoURL) : null)" />
                </div>
                <input class="form-control form-control-sm" id="fileLogo" type="file">
                <script>
                    $(function () {
                        var fileUpload = $('#fileLogo');
                        var elmt = fileUpload.parent();

                        fileUpload.off('click').on('change', function () {
                            $('#editItem')
                                .append(fileUpload).ajaxForm({
                                    url: "@Html.Raw(Url.Action("UpdateLogo", "Organization"))",
                                    data: { 'id': '@(_model.CompanyID)' },
                                    beforeSubmit: function () {
                                        showLoading();
                                    },
                                    success: function (data) {
                                        hideLoading();
                                        elmt.append(fileUpload);
                                        $(data).appendTo($('body')).remove();
                                    },
                                    error: function () {
                                        elmt.append(fileUpload);
                                    }
                                }).submit();
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    }
</div>

<h5 class="my-2 py-1 fs-5 fw-bold text-success border-2 border-start border-bottom border-success ps-2">
    <i class="fas fa-caret-right"></i>
    訊息通知
</h5>
<div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4">
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.Issuing)"
                id="Issuing" name="Issuing" @(_viewModel.NoticeSetting.HasValue && ((_viewModel.NoticeSetting.Value &
                                                            Naming.InvoiceNoticeStatus.Issuing) > 0) ? "checked" : null) />
            <label class="form-check-label" for="Issuing">
                寄送開立通知
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.Winning)"
                id="Winning" name="Winning" @(_viewModel.NoticeSetting.HasValue && ((_viewModel.NoticeSetting.Value &
                                                            Naming.InvoiceNoticeStatus.Winning) > 0) ? "checked" : null) />
            <label class="form-check-label" for="Winning">
                寄送中獎通知
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.Cancelling)"
                id="Cancelling" name="Cancelling" @(_viewModel.NoticeSetting.HasValue &&
                                                                        ((_viewModel.NoticeSetting.Value & Naming.InvoiceNoticeStatus.Cancelling) > 0) ? "checked" :
                                                                        null) />
            <label class="form-check-label" for="Cancelling">
                寄送作廢通知
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.IssuingAllowance)"
                id="IssuingAllowance" name="IssuingAllowance" @(_viewModel.NoticeSetting.HasValue &&
                                                                              ((_viewModel.NoticeSetting.Value & Naming.InvoiceNoticeStatus.IssuingAllowance) > 0) ? "checked" :
                                                                              null) />
            <label class="form-check-label" for="IssuingAllowance">
                寄送折讓通知
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox"
                value="@((int)Naming.InvoiceNoticeStatus.CancellingAllowance)" id="CancellingAllowance" name="CancellingAllowance" @(_viewModel.NoticeSetting.HasValue && ((_viewModel.NoticeSetting.Value
                                                                            & Naming.InvoiceNoticeStatus.CancellingAllowance) > 0) ? "checked" : null) />
            <label class="form-check-label" for="CancellingAllowance">
                寄送作廢折讓通知
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.GetDailyReport)"
                id="GetDailyReport" name="GetDailyReport"
                checked="@(_viewModel.NoticeSetting.HasValue && ((_viewModel.NoticeSetting.Value & Naming.InvoiceNoticeStatus.GetDailyReport) > 0))" />
            <label class="form-check-label" for="GetDailyReport">
                寄送每日報表
            </label>

        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.NoInvoiceIssued)"
                id="NoInvoiceIssued" name="NoInvoiceIssued"
                checked="@(_viewModel.NoticeSetting.HasValue && ((_viewModel.NoticeSetting.Value & Naming.InvoiceNoticeStatus.NoInvoiceIssued) > 0))" />
            <label class="form-check-label" for="NoInvoiceIssued">
                每日寄送未開立通知
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.UseCBEStyle)"
                id="UseCBEStyle" name="UseCBEStyle" @(_viewModel.NoticeSetting.HasValue &&
                                                                    ((_viewModel.NoticeSetting.Value & Naming.InvoiceNoticeStatus.UseCBEStyle) > 0) ? "checked" : null) />
            <label class="form-check-label" for="UseCBEStyle">
                使用境外電商郵件樣式
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@($"{true}")" id="SetToNotifyCounterpartBySMS"
                name="SetToNotifyCounterpartBySMS" @(_viewModel.SetToNotifyCounterpartBySMS == true ? "checked" : null) />
            <label class="form-check-label" for="SetToNotifyCounterpartBySMS">
                使用簡訊通知買受人
            </label>
        </div>
    </div>
    <div class="py-2 col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@($"{true}")" id="UseB2BStandalone"
                name="UseB2BStandalone" @(_viewModel.UseB2BStandalone == true ? "checked" : null) />
            <label class="form-check-label" for="UseB2BStandalone">
                B2B發票開立通知以鏈結取代附件
            </label>
        </div>
    </div>
</div>

<div class="px-2 row row-cols-1">
    <div class="py-2 col d-flex align-items-center">
        <div class="col-2 form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="@((int)Naming.InvoiceNoticeStatus.UseCustomStyle)"
                id="UseCustomStyle" name="UseCustomStyle" @(_viewModel.NoticeSetting.HasValue &&
                                                                    ((_viewModel.NoticeSetting.Value & Naming.InvoiceNoticeStatus.UseCustomStyle) > 0) ? "checked" : null) />
            <label class="form-check-label text-nowrap" for="UseCustomStyle">
                使用客訂郵件樣式
            </label>
        </div>
        <input type="text" class="form-control form-control-sm" name="CustomNotificationView"
                value='@(_viewModel.CustomNotificationView)' />
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="BusinessContactPhone" class="col-2 col-form-label fw-bold text-nowrap">
                營業人連絡電話
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="BusinessContactPhone"
                    name="BusinessContactPhone" value='@(_viewModel.BusinessContactPhone)' />
            </div>
        </div>
    </div>
    <div class="py-2 col">
        <div class="row">
            <label for="CustomNotification" class="col-2 col-form-label fw-bold text-nowrap">
                郵件附言
            </label>
            <div class="col">
                <textarea id="CustomNotification" name="CustomNotification" class="form-control form-control-sm" rows="5">@Html.Raw(_viewModel.CustomNotification)</textarea>
            </div>
        </div>
    </div>
</div>

<script>
    // 日期選擇器
    flatpickr('#CreationDate, #ExpirationDate, #AuthorizationNotBefore, #AuthorizationNotAfter, #InvoiceRequestNotBefore, #InvoiceRequestNotAfter', config);
</script>