@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{
    Layout = "~/Views/Template/ContentPage.cshtml";

    ModelSource<InvoiceItem> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;

    LoginViewModel _viewModel = ViewBag.ViewModel as LoginViewModel;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
}

<div class="px-0 eivo__signin-wrapper">
    <main class="eivo__signin-form">
        <div class="text-center pb-2">
            <img class="mb-3 eivo__logo" src="/images/uxb2b_logo.png" alt="網際優勢 Logo">
            <div class="mb-3 align-text-top fw-bold custom-element" style="color: #2a91bc;">
                <span class="fs-3">電子發票加值中心</span><br>
                <span class="fs-6">E-Invoice Value-Added Service Center</span>
            </div>
        </div>
        <form id="loginForm" method="post">

            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-pid">
                            <i class="fas fa-user"></i>
                        </span>
                        <input type="text" name="PID" class="mb-0 form-control" placeholder="帳號 / ID" aria-label="帳號"
                            autocomplete="off" aria-describedby="basic-pid">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-password">
                            <i class="fas fa-key"></i>
                        </span>
                        <input type="password" name="Password" class="mb-0 form-control" placeholder="密碼 / Password"
                            aria-label="密碼" autocomplete="off" aria-describedby="basic-password">
                    </div>
                    <div class="form-floating">
                        @{
                            await Html.RenderPartialAsync("~/Views/Shared/CaptchaImg.cshtml");
                        }
                    </div>
                    <button id="signIn" class="mt-3 w-100 btn btn-lg btn-primary" type="button" onclick="login()">
                        登入 / signIn
                    </button>
                    <div class="py-2 text-end eivo__link--noLine">
                        <i class="fas fa-question-circle"></i>
                        <a href="@(Url.Action("ForgetPassword", "Account"))">忘記密碼</a>
                    </div>
                </div>
            </div>

            <div class="py-2">
                <ul>
                    <li class="eivo__link--noLine">
                        <a href="@(Url.Action("Index", "IndividualProcess"))">發票查詢</a>
                    </li>
                    <li class="eivo__link--noLine">
                        <a href="@(VirtualPathUtility.ToAbsolute("~/Published/InvoiceClient.zip"))">電子發票傳輸用戶端下載</a>
                    </li>
                </ul>
            </div>

            @{
                var data = models.GetTable<SystemMessage>().Where(s => s.AlwaysShow || (s.StartDate <= DateTime.Now &&
                s.EndDate.Value.AddDays(1) > DateTime.Now));
            }
            @if (data.Any())
            {
                <div class="mb-0 pb-2 alert alert-warning" role="alert">
                    <!--跑馬燈開始-->
                    <marquee class="notice" scrollamount="2">
                        @foreach (var item in data)
                        {
                            <text>
                                <i class="far fa-info-square"></i>
                                系統公告：
                                <span color="#434343">
                                    @Html.Raw(item.MessageContents)
                                </span>
                            </text>
                        }
                    </marquee>
                    <!--跑馬燈結束-->
                </div>
            }

            <div class="py-4 text-muted text-center">
                Copyright © UXB2B. All rights reserved.
            </div>
        </form>
    </main>
</div>

<script>
    function login() {
        $('form').prop('action', '@(Url.Action("Login", "Account"))').submit();
    };
</script>
