
@using System.IO
@using System.Linq.Expressions

@using ModelCore.DataEntity
@using ModelCore.Locale
@using ModelCore.Helper

@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using WebHome.Controllers
@using WebHome.Helper
@{
    UserProfileViewModel _viewModel;
    ModelSource<InvoiceItem> models;
    UserProfile _profile;
    UserProfile _model = this.Model as UserProfile;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _viewModel = (UserProfileViewModel)ViewBag.ViewModel;
    _profile = Context.GetUser();
}

<div class="mb-3 row">
    <label for="EncSellerID" class="col-sm-2 col-form-label fw-bold text-nowrap">
        <span class="text-danger">*</span>
        會員
    </label>
    <div class="col-sm-10">
        @{
            @(await Component.InvokeAsync(typeof(WebHome.Components.SellerSelectorViewComponent), new SellerSelectorViewModel { FieldName = "EncSellerID", Encrypt = true, SellerID = _model?.UserRole.FirstOrDefault()?.OrganizationCategory.CompanyID }));
        }
    </div>
</div>
<div class="mb-3 row">
    <label for="PID" class="col-sm-2 col-form-label fw-bold text-nowrap">
        <span class="text-danger">*</span>
        帳號
    </label>
    <div class="col-sm-10">
        <input class="form-control form-control-sm" name="PID" type="text" placeholder="" value="@(_viewModel.PID)" />
        <input type="hidden" name="KeyID" value="@(_viewModel.KeyID)" />
    </div>
</div>
<div class="mb-3 row">
    <label for="UserName" class="col-sm-2 col-form-label fw-bold text-nowrap">
        <span class="text-danger">*</span>
        姓名
    </label>
    <div class="col-sm-10">
        <input class="form-control form-control-sm" name="UserName" type="text" placeholder="" value="@(_viewModel.UserName)" />
    </div>
</div>
@{ 
    await Html.RenderPartialAsync("~/Views/UserProfile/Module/ChangePass.cshtml");
}
<div class="mb-3 row">
    <label for="EMail" class="col-sm-2 col-form-label fw-bold text-nowrap">
        <span class="text-danger">*</span>
        常用電子郵件
    </label>
    <div class="col-sm-10">
        <input class="form-control form-control-sm" name="EMail" type="text" placeholder="" value="@(_viewModel.EMail)" />
    </div>
</div>
<div class="mb-3 row">
    <label for="Address" class="col-sm-2 col-form-label fw-bold text-nowrap">
        <span class="text-danger">*</span>
        住址
    </label>
    <div class="col-sm-10">
        <input class="form-control form-control-sm" name="Address" type="text" placeholder="" value="@(_viewModel.Address)" />
    </div>
</div>
<div class="mb-3 row">
    <label for="Phone" class="col-sm-2 col-form-label fw-bold text-nowrap">
        電話（日）
    </label>
    <div class="col-sm-10">
        <input class="form-control form-control-sm" name="Phone" type="text" placeholder="" value="@(_viewModel.Phone)" />
    </div>
</div>
<div class="mb-3 row">
    <label for="Phone2" class="col-sm-2 col-form-label fw-bold text-nowrap">
        電話（夜）
    </label>
    <div class="col-sm-10">
        <input class="form-control form-control-sm" name="Phone2" type="text" placeholder="" value="@(_viewModel.Phone2)" />
    </div>
</div>
<div class="mb-3 row">
    <label for="MobilePhone" class="col-sm-2 col-form-label fw-bold text-nowrap">
        行動電話
    </label>
    <div class="col-sm-10">
        <input class="form-control form-control-sm" name="MobilePhone" type="text" placeholder="" value="@(_viewModel.MobilePhone)" />
    </div>
</div>
<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label fw-bold text-nowrap">
        身份設定
    </label>
    <div class="col-sm-10">
        <select name="RoleID" class="form-control form-control-sm">
            <option value="@((int)Naming.RoleID.ROLE_SELLER)" selected="@Html.Raw(_viewModel.RoleID == Naming.RoleID.ROLE_SELLER)">營業人</option>
            <option value="@((int)Naming.RoleID.資料稽核員)" selected="@Html.Raw(_viewModel.RoleID == Naming.RoleID.資料稽核員)">資料稽核員</option>
            @if (_profile.IsSystemAdmin())
            {
                <option value="@((int)Naming.RoleID.ROLE_SYS)" selected="@Html.Raw(_viewModel.RoleID == Naming.RoleID.ROLE_SYS)">平台系統管理員</option>
            }
        </select>
    </div>
</div>



