@using System.IO
@using System.Linq.Expressions



@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@using CommonLib.DataAccess

@{
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    UserProfile _profile = Context.GetUser();
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;
}
@{
    Naming.FieldDisplayType? displayType = (Naming.FieldDisplayType?)ViewBag.DisplayType;
}
@switch (displayType)
{
    case Naming.FieldDisplayType.Header:
        <div style="min-width: 120px;">管理</div>
        break;
    case Naming.FieldDisplayType.DataItem:
        BusinessRelationship item = this.Model as BusinessRelationship;
        <div class="dropdown">
            <button class="px-3 btn btn-sm eivo__btn--default dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                功能
            </button>
            <ul class="dropdown-menu shadow dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li>
                    <a class="dropdown-item" href="#"
                        onclick="$inquiryAgent.editItem('@((new { item.MasterID, item.RelativeID, item.BusinessID }).JsonStringify().EncryptData())');">
                        <i class="fas fa-caret-right"></i>
                        編輯
                    </a>
                </li>
                <li>
                    <a class="dropdown-item text-danger" href="#"
                        onclick="$inquiryAgent.deleteItem('@((new { item.MasterID, item.RelativeID, item.BusinessID }).JsonStringify().EncryptData())');">
                        <i class="fas fa-caret-right"></i>
                        刪除
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" onclick="uiInquireBusiness.inquireUser(@(item.RelativeID));">
                        <i class="fas fa-caret-right"></i>
                        管理使用者
                    </a>
                </li>
            </ul>
        </div>
        break;
    case Naming.FieldDisplayType.SortBy:
        break;

    case Naming.FieldDisplayType.Edit:
        item = this.Model as BusinessRelationship;
        <button type="button" class="editItem my-1 px-3 btn btn-sm eivo__btn--check text-nowrap"
            onclick="$inquiryAgent.commitItem('@(ViewBag.IsNew == true ? _viewModel.EmptyKeyID : (new { item.MasterID, item.RelativeID, item.BusinessID }).JsonStringify().EncryptData())');">
            <i class="fas fa-check"></i>
            確定
        </button>
        <button type="button" class="editItem my-1 px-3 btn btn-sm eivo__btn--cancel text-nowrap"
            onclick="$inquiryAgent.dataItem({ 'keyID': '@((new { item?.MasterID, item?.RelativeID, item?.BusinessID }).JsonStringify().EncryptData())','displayType':@(ViewBag.IsNew == true ? (int)Naming.FieldDisplayType.Create : (int)Naming.FieldDisplayType.DataItem) });">
            <i class="far fa-times"></i>
            取消
        </button>
        break;

    case Naming.FieldDisplayType.Create:
        item = this.Model as BusinessRelationship;
        <button type="button" class="editItem my-1 px-3 btn btn-sm eivo__btn--default text-nowrap"
            onclick="$inquiryAgent.editItem('@(_viewModel.EmptyKeyID)');">
            <i class="fas fa-plus"></i>
            新增
        </button>
        break;

}
