@using System.IO
@using System.Linq.Expressions

@using ModelCore.Models.ViewModel
@using WebHome.Controllers
@using WebHome.Components
@using WebHome.Helper
@using WebHome.Models
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor


<!--交易畫面標題-->
<div class="py-2 eivo__title d-flex align-items-center justify-content-between">
    @{
        await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "捐贈統計表");
    }
</div>
<div id="queryArea" class="mb-4 card shadow-sm border-2 rounded-3">
    <div class="card-body">
        <form id="queryForm" method="post" enctype="multipart/form-data">
            <!-- 查詢條件 -->
            <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-3">
                @{
                    await Html.RenderPartialAsync("~/Views/InvoiceProcess/Module/QueryDirective.cshtml", 0);
                    ViewBag.QueryAll = true;
                    @(await Component.InvokeAsync<InquireInvoiceConsumptionViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceSellerViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceBuyerViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceBuyerByNameViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireCustomerIDViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceDateViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceAgentViewComponent>())
                    ;
                }

                @{
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByAttachment.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByWinningNumber.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByCancellation.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByPrintMark.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByPrintStatus.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByCarrierType.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByCarrierNo.cshtml");
                }
            </div>
            <!--按鈕-->
            <div class="mt-3 px-1 d-block text-end">
                <button id="btnQuery" type="button" class="mx-1 px-3 btn btn-sm eivo__btn--default"
                    onclick="$('#queryForm').prop('action', '@(Url.Action("InquireReport"))').submit();">
                    查詢
                </button>
            </div>
        </form>
    </div>
</div>
