@using System.IO
@using System.Linq.Expressions

@using ModelCore.DataEntity
@using ModelCore.Locale
@using WebHome.Controllers
@using WebHome.Helper
@{
    ModelSource<InvoiceItem> models;
    InvoiceItem _model;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _model = (InvoiceItem)this.Model;
}
<tr>
    <td class="text-center">
        <input name="DeliveryDate" class="form_date form-control form-control-sm" type="text"
            data-package="@(_model.InvoiceID)" />
    </td>
    <td class="text-center">@(_model.InvoiceBuyer.CustomerID)</td>
    <td class="text-center">@(_model.TrackCode + _model.No)</td>
    <td class="text-center">
        <div class="d-flex align-items-center justify-content-center">
            <input name="MailNo1" type="text" class="form-control form-control-sm" data-package="@(_model.InvoiceID)" />
            <span class="px-2">-</span>
            <input name="MailNo2" type="text" class="form-control form-control-sm" data-package="@(_model.InvoiceID)" />
        </div>
    </td>
    <td class="text-center">@(_model.InvoiceBuyer.ContactName)</td>
    <td class="text-center">@(_model.InvoiceBuyer.Address)</td>
    <td class="text-center">@(_model.InvoiceBuyer.ReceiptNo)</td>
    <td class="text-center">
        <input name="PackageID" type="checkbox" class="form-check-input" value="@(_model.InvoiceID)" />
    </td>
    <td class="text-center">@(((Naming.ChannelIDType?)_model.CDS_Document.ChannelID).ToString())</td>
    <td class="text-center">
        @{
            int pageCount = _model.InvoiceID.GetAttachedPdfPageCount(models);
            if (pageCount > 0)
            {
                <text>@pageCount</text>
            }
        }
    </td>
    <td class="text-center">
        <button type="button" class="my-1 px-3 btn btn-sm eivo__btn--default text-nowrap" onclick="uiHandling.pack();">
            <i class="fal fa-copy"></i>
            合併
        </button>
        <button type="button" class="my-1 px-3 btn btn-sm eivo__btn--red text-nowrap"
            onclick="uiHandling.delete(@(_model.PackageID));">
            <i class="fal fa-trash-alt"></i>
            刪除
        </button>
    </td>
</tr>
