@using System.IO
@using System.Linq.Expressions

@using ModelCore.DataEntity
@using ModelCore.Locale
@using WebHome.Controllers
@using WebHome.Helper
@{
    ModelSource<InvoiceItem> models;
    IEnumerable<InvoiceItem> _model;
    InvoiceItem _item;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _model = (IEnumerable<InvoiceItem>)this.Model;
    _item = _model.First();
}

<tr>
    <td class="text-center">
        <input name="DeliveryDate" class="form_date form-control form-control-sm" type="text"
            data-package="@(_item.InvoiceID)" />
    </td>
    <td class="text-center">@(_item.InvoiceBuyer.CustomerID)</td>
    <td class="text-center">
        <pre class="mb-0 fs-875"
            style="font-family: inherit;">@(String.Join("\r\n", _model.Select(i => i.TrackCode + i.No)))</pre>
    </td>
    <td class="text-center">
        <div class="d-flex align-items-center justify-content-center">
            <input name="MailNo1" type="text" class="form-control form-control-sm" data-package="@(_item.InvoiceID)" />
            <span class="px-2">-</span>
            <input name="MailNo2" type="text" class="form-control form-control-sm" data-package="@(_item.InvoiceID)" />
        </div>
    </td>
    <td class="text-center">@(_item.InvoiceBuyer.ContactName)</td>
    <td class="text-center">@(_item.InvoiceBuyer.Address)</td>
    <td class="text-center">@(_item.InvoiceBuyer.ReceiptNo)</td>
    <td class="text-center">
        <input name="PackageID" type="checkbox" class="form-check-input" value="@(_item.InvoiceID)" />
        ( @_model.Count() )
    </td>
    <td class="text-center">@(((Naming.ChannelIDType?)_item.CDS_Document.ChannelID).ToString())</td>
    <td class="text-center">
        @{
            int pageCount = 0;
            foreach (var item in _model)
            {
                pageCount += (item.InvoiceID.GetAttachedPdfPageCount(models));
            }
            if (pageCount > 0)
            {
                <text>@pageCount</text>
            }
        }
    </td>
    <td class="text-center">
        <button type="button" class="my-1 px-3 btn btn-sm eivo__btn--default text-nowrap" onclick="uiHandling.pack();">
            <i class="fal fa-copy"></i>
            合併
        </button>
        <button type="button" class="my-1 px-3 btn btn-sm eivo__btn--check text-nowrap" onclick="uiHandling.unpack();">
            <i class="far fa-page-break"></i>
            分開
        </button>
    </td>
</tr>
