@using System.IO
@using System.Linq.Expressions
@using WebHome.Helper
@using ModelCore.Locale
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using WebHome.Controllers
@{
    InvoiceViewModel _viewModel;
    ViewBag.ActionName = "首頁 > 電子發票開立";
    _viewModel = (InvoiceViewModel)ViewBag.ViewModel;
}

@{ await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "電子發票開立");}

<form role="form" method="post">
    @{   
        await Html.RenderPartialAsync("~/Views/InvoiceBusiness/Module/InvoiceProcessTypeDirection.cshtml");
     }
    <div class="border_gray">
        <h2>營業人</h2>
        <table class="table table-striped">
            <tr>
                <th nowrap="nowrap" width="120">
                    發票開立人
                </th>
                <td class="tdleft">
                    @{
                        @(await Component.InvokeAsync(typeof(WebHome.Components.SellerSelectorViewComponent)));
                    }
                </td>
                <th nowrap="nowrap" width="120">
                    買受人統編<br /><br />
                    @* 分店號碼 *@
                </th>
                <td class="tdleft">
                   
                      @{
                        ViewBag.FieldID = "SearchBuyer";
                        await Html.RenderPartialAsync("~/Views/DataFlow/CounterpartBusinessSelector.cshtml");
                       } 
                  

                    <input name="BuyerReceiptNo" type="hidden" /> @* hidden *@
                    <input class="form-control" name="CustomerID" id="CustomerID" type="hidden" />
                    <script>
                        $global.onBusiness = function (buyerID) {
                            showLoading();
                            $.post('@Html.Raw(Url.Action("Organization", "DataEntity"))', { 'id': buyerID, 'masterID': $('[name="SellerID"]').val() }, function (data) {
                                hideLoading();
                                if ($.isPlainObject(data) && data) {
                                    $('input[name="BuyerReceiptNo"]').val(data.ReceiptNo);
                                    if ($('[name="SellerID"]').val() != '2478') {
                                        $('input[name="BuyerName"]').val(data.CompanyName);
                                    }
                                    $('input[name="Address"]').val(data.Addr);
                                    $('input[name="Phone"]').val(data.Phone);
                                    $('input[name="EMail"]').val(data.ContactEmail);
                                }
                            });
                        };

                        $('#SearchBuyer').on('blur', function (evt) {
                            if ($('#SearchBuyer').val() == '' && $('#CustomerID').val() == '') {
                                $('#nonTaxed').css('display', 'none');
                                $('#forCounterpart').css('display', 'none');
                                $('input[name="TaxCalc"][value="TaxIncluded"]').prop('checked', true);
                            } else {
                                $('#nonTaxed').css('display', 'block');
                                $('#forCounterpart').css('display', 'block');
                            }
                        });
                        $('#CustomerID').on('blur', function (evt) {
                            if ($('#SearchBuyer').val() == '' && $('#CustomerID').val() == '') {
                                $('#nonTaxed').css('display', 'none');
                                $('#forCounterpart').css('display', 'none');
                                $('input[name="TaxCalc"][value="TaxIncluded"]').prop('checked', true);
                            } else {
                                $('#nonTaxed').css('display', 'block');
                                $('#forCounterpart').css('display', 'block');
                            }
                        });

                    </script>
                </td>
            </tr>
            <tr>
                <th nowrap="nowrap" width="120">
                    買受人名稱
                </th>
                <td class="tdleft">
                    <input class="form-control" name="BuyerName" type="text" value="@(_viewModel.BuyerName)" />
                </td>
                <th nowrap="nowrap" width="120">
                    買受人地址
                </th>
                <td class="tdleft">
                    <input class="form-control" name="Address" type="text" value="@(_viewModel.Address)" />
                </td>
            </tr>
            <tr>
                <th nowrap="nowrap" width="120">
                    買受人電話
                </th>
                <td class="tdleft">
                    <input class="form-control" name="Phone" type="text" value="@(_viewModel.Phone)" />
                </td>
                <th nowrap="nowrap" width="120">
                    買受人email
                </th>
                <td class="tdleft">
                    <input class="form-control" name="EMail" type="text" value="@(_viewModel.EMail)" />
                </td>
            </tr>
            <tr>
                <th nowrap="nowrap" width="120">
                    隨機碼
                </th>
                <td class="tdleft">
                    <input class="form-control" name="RandomNo" type="text" required value="@(_viewModel.RandomNo)" maxlength="4" />
                </td>
                <th nowrap="nowrap" width="120">
                    銷售品項稅額
                </th>
                <td class="tdleft">
                    <input name="TaxCalc" type="radio" required value="TaxIncluded" checked />含稅
                    <span id="nonTaxed" >
                        <input name="TaxCalc" type="radio" required value="NonTaxed" />未稅
                    </span>
                </td>
            </tr>
            <tr>
                <th nowrap="nowrap" width="120">
                    載具類型
                </th>
                <td class="tdleft">
                    <select id="CarrierType" name="CarrierType">
                        <option value="">不使用</option>
                        <option value="3J0002">手機條碼</option>
                        @*<option value="1K0001">悠遊卡</option>
                            <option value="BJ0001">行動 X 卡</option>
                            <option value="2G0001">iCash</option>
                            <option value="EK0002">信用卡</option>
                            <option value="1K0002">台灣智慧卡</option>
                            <option value="BK0001">SmartPay金融卡</option>
                            <option value="1H0001">一卡通</option>*@
                        <option value="CQ0001">自然人憑證條碼</option>
                        <option value="3J0001">網際優勢會員條碼</option>
                        <option value="5G0001">境外電商</option>
                    </select>
                    @*<script>
                            $('#CarrierType').on('change', function (evt) {
                                if ($('#CarrierType').val() == '') {
                                    $('a:contains("發票預覽")').removeAttr('style');
                                } else {
                                    $('a:contains("發票預覽")').css('display', 'none');
                                }
                            });
                        </script>*@
                </td>
                <th nowrap="nowrap" width="120">
                    載具號碼
                </th>
                <td class="tdleft">
                    <input class="form-control" name="CarrierId1" type="text" value="@(_viewModel.CarrierId1)" maxlength="32" />
                </td>
            </tr>
    </div>
</form>

