@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{


    UserProfile _profile;
    ModelSource<InvoiceItem> models;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _profile = Context.GetUser();
}
@if (_profile.IsSystemAdmin())
{
    await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "傳送E0402");
    <div class="border_gray">
        <input type="file" id="UploadE0402" name="UploadE0402" style="display:inline;" multiple accept=".xml" />
        <button type="button" onclick="uploadFiles()">傳送至@(global::ModelExtension.Properties.AppSettings.Default.E0402Outbound)</button>
        <script>
        function uploadFiles() {
            var formData = new FormData();
            var files = $('input[name="UploadE0402"]')[0].files;

            for (var i = 0; i < files.length; i++) {
                formData.append('files', files[i]);
            }
            showLoading();
            $.ajax({
                url: '@(Url.Action("UploadPreparedE0402", "InvoiceNo"))',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    hideLoading();
                    if ($.isPlainObject(data)) {
                        if (data.result) {
                            alertModal('檔案上傳成功');
                        } else {
                            alertModal(data.message);
                        }
                    }
                },
                error: function () {
                    hideLoading();
                    alertModal('檔案上傳失敗');
                }
            });
        }
        </script>
    </div>
}

@{
    await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "上期發票空白號碼查詢／匯出");
}
<div class="border_gray">
    <!--表格 開始-->
    <table class="table table-striped">
        <tr>
            <th colspan="2" class="Head_style_a">
                查詢條件
            </th>
        </tr>
        <tr>
            <th>
                開立人統編
            </th>
            <td class="tdleft">
                @{ ViewBag.SelectorIndication = "全部";
                    await Html.RenderPartialAsync("~/Views/DataFlow/SellerSelector.cshtml", _profile.InitializeOrganizationQuery(models));}

            </td>
        </tr>
        <tr>
            <th>
                主機構、分支機構
            </th>
            <td class="tdleft">
                <input type="radio" name="BranchRelation" value="@(true.ToString())" />是
                <input type="radio" name="BranchRelation" value="@(false.ToString())" />否
            </td>
        </tr>
        <tr>
            <th>
                發票年度（民國年）
            </th>
            <td class="tdleft">
                <select name="Year">
                    @for (int y = DateTime.Today.AddMonths(1).Year, idx = 0; idx < 6; y--, idx++)
                    {
                        <option value="@(y)" selected="@(y==DateTime.Today.Year)">@(y - 1911)</option>
                    }
                </select>
                @*<script>
                        $('select[name="Year"]').on('change', function (evt) {
                            $.post('@(Url.Action("TrackCodeSelector","InvoiceNo"))', { 'Year': $('select[name="Year"]').val(), 'PeriodNo': $('select[name="PeriodNo"]').val(), 'SelectIndication': '全部' }, function (data) {
                                $('#trackCodeSelector').html(data);
                            });
                        });
                    </script>*@
            </td>
        </tr>
        <tr>
            <th>發票期別</th>
            <td class="tdleft">
                <select name="PeriodNo">
                    @{
                        int current = (DateTime.Today.AddMonths(-2).Month + 1) / 2;
                    }
                    @for (int y = 1; y < 7; y++)
                    {
                        <option value="@(y)" selected="@(y==current)">@(String.Format("{0:00}-{1:00}月", y * 2 - 1, y * 2))</option>
                    }
                </select>
                @*<script>
                            $('select[name="PeriodNo"]').val('@((DateTime.Today.Month + 1) / 2)');
                            $('select[name="PeriodNo"]').on('change', function (evt) {
                                $.post('@(Url.Action("TrackCodeSelector","InvoiceNo"))', { 'Year': $('select[name="Year"]').val(), 'PeriodNo': $('select[name="PeriodNo"]').val() }, function (data) {
                                    $('#trackCodeSelector').html(data);
                                });
                            });
                    </script>*@
            </td>
        </tr>
        @*<tr>
                <th>字軌
                </th>
                <td class="tdleft" id="trackCodeSelector">
                    @{ Html.RenderAction("TrackCodeSelector", "InvoiceNo", new { Year = DateTime.Today.Year, PeriodNo = (DateTime.Today.Month + 1) / 2, SelectIndication = "全部" });}

                </td>
            </tr>*@
    </table>
    <!--表格 結束-->
</div>

<!--按鈕-->
<table border="0" cellspacing="0" cellpadding="0" width="100%" class="queryAction">
    <tbody>
        <tr>
            <td class="Bargain_btn">
                <button type="button" onclick="uiVacantNoQuery.inquire();">查詢</button>&nbsp;&nbsp;
                <button type="button" onclick="uiVacantNoQuery.process();">重新整理空白發票</button>
            </td>
        </tr>
    </tbody>
</table>
<!--表格 開始-->
<script>
    var uiVacantNoQuery;
    $(function () {
        var $postForm;
        uiVacantNoQuery = {
            inquire: function (pageNum, onPaging) {
                if (pageNum) {
                    $('input[name="pageIndex"]').val(pageNum);
                } else {
                    $('input[name="sort"]').remove();
                }
                $('#theForm').ajaxForm({
                    url: "@(Url.Action("InquireVacantNo","InvoiceNo"))",
                    beforeSubmit: function () {
                        showLoading();
                        $('#UploadE0402').val('');
                    },
                    success: function (data) {
                        if (data) {
                            if (onPaging) {
                                onPaging(data);
                            } else {
                                if (uiVacantNoQuery.$result)
                                    uiVacantNoQuery.$result.remove();
                                uiVacantNoQuery.$result = $(data);
                                $('.queryAction').after(uiVacantNoQuery.$result);
                            }
                        }
                        hideLoading();
                    },
                    error: function () {
                        hideLoading();
                    }
                }).submit();
            },

            download: function () {
                if ($postForm) {
                    $postForm.remove();
                }

                $postForm = $('<form method="post" />').prop('action', '@(Url.Action("DownloadVacantNo","InvoiceNo"))')
                    .css('display', 'none').appendTo($('body'));

                $('#theForm').serializeArray().forEach(function (item, index) {
                    $('<input type="hidden">')
                        .prop('name', item.name).prop('value', item.value)
                        .appendTo($postForm);
                });
                $postForm.submit();
                //showLoading();
            },
            downloadCsv: function () {
                if ($postForm) {
                    $postForm.remove();
                }

                $postForm = $('<form method="post" />').prop('action', '@(Url.Action("DownloadVacantNoCsv","InvoiceNo"))')
                    .css('display', 'none').appendTo($('body'));

                $('#theForm').serializeArray().forEach(function (item, index) {
                    $('<input type="hidden">')
                        .prop('name', item.name).prop('value', item.value)
                        .appendTo($postForm);
                });
                $postForm.submit();
                //showLoading();
            },

            process: function () {
                clearErrors();
                $('#theForm').ajaxForm({
                    url: "@(Url.Action("ProcessVacantNo","InvoiceNo"))",
                    beforeSubmit: function () {
                        showLoading();
                    },
                    success: function (data) {
                        if (data) {
                            $(data).appendTo($('body')).remove();
                        }
                        hideLoading();
                    },
                    error: function () {
                        hideLoading();
                    }
                }).submit();
            }
        };
    });

</script>



