@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{
    UserProfile _profile;
    ModelSource<InvoiceItem> models;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _profile = Context.GetUser();
}
@if (_profile.IsSystemAdmin())
{
    <!-- 交易畫面標題 -->
    <div class="py-2 eivo__title d-flex align-items-center justify-content-between">
        @{
            await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "傳送E0402");
        }
    </div>

    <div class="mb-4 card shadow-sm border-2 rounded-3">
        <div class="card-body">
            <div class="input-group mb-3">
                <input type="file" id="UploadE0402" name="UploadE0402" class="form-control" multiple accept=".xml">
                <button class="px-3 btn btn-sm eivo__btn--check" type="button" onclick="uploadFiles()"
                    id="inputGroupFileAddon04">
                    傳送至
                    @(global::ModelExtension.Properties.AppSettings.Default.E0402Outbound)
                </button>
            </div>
        </div>
    </div>
    <script>
        function uploadFiles() {
            var formData = new FormData();
            var files = $('input[name="UploadE0402"]')[0].files;

            for (var i = 0; i < files.length; i++) {
                formData.append('files', files[i]);
            }
            showLoading();
            $.ajax({
                url: '@(Url.Action("UploadPreparedE0402", "InvoiceNo"))',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    hideLoading();
                    if ($.isPlainObject(data)) {
                        if (data.result) {
                            alertModal('檔案上傳成功');
                        } else {
                            alertModal(data.message);
                        }
                    }
                },
                error: function () {
                    hideLoading();
                    alertModal('檔案上傳失敗');
                }
            });
        }
    </script>
}
<!-- 交易畫面標題 -->
<div class="py-2 eivo__title d-flex align-items-center justify-content-between">
    @{
        await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "上期發票空白號碼查詢／匯出");
    }
</div>
<div id="queryArea" class="mb-4 card shadow-sm border-2 rounded-3">
    <div class="card-body">
        <form id="queryForm" method="post" enctype="multipart/form-data">
            <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4">
                <div class="py-2 col">
                    <div class="row">
                        <label for="ContactName" class="col-md-4 col-form-label fw-bold text-nowrap">
                            開立人統編
                        </label>
                        <div class="col">
                            @{
                                ViewBag.SelectorIndication = "全部";
                                await Html.RenderPartialAsync("~/Views/DataFlow/SellerSelector.cshtml",
                                _profile.InitializeOrganizationQuery(models));
                            }
                        </div>
                    </div>
                </div>
                <div class="py-2 col">
                    <div class="row">
                        <label for="BranchRelation1" class="col-md-5 col-form-label fw-bold text-nowrap">
                            主機構、分支機構
                        </label>
                        <div class="col pt-1">
                            <div class="col pt-1 d-flex align-items-center">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="BranchRelation1"
                                        name="BranchRelation" value="@(true.ToString())">
                                    <label class="form-check-label text-nowrap" for="BranchRelation1">
                                        是
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="BranchRelation0"
                                        name="BranchRelation" value="@(false.ToString())">
                                    <label class="form-check-label text-nowrap" for="BranchRelation0">
                                        否
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-2 col">
                    <div class="row">
                        <label for="Year" class="col-md-5 col-form-label fw-bold text-nowrap">
                            發票年度（民國年）
                        </label>
                        <div class="col">
                            <select id="Year" name="Year" class="form-select form-select-sm">
                                @for (int y = DateTime.Today.AddMonths(1).Year, idx = 0; idx < 6; y--, idx++)
                                {
                                    <option value="@(y)" selected="@(y == DateTime.Today.Year)">@(y - 1911)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="py-2 col">
                    <div class="row">
                        <label for="PeriodNo" class="col-md-4 col-form-label fw-bold text-nowrap">
                            發票期別
                        </label>
                        <div class="col">
                            <select id="PeriodNo" name="PeriodNo" class="form-select form-select-sm">
                                @{
                                    int current = (DateTime.Today.AddMonths(-2).Month + 1) / 2;
                                }
                                @for (int y = 1; y < 7; y++)
                                {
                                    <option value="@(y)" selected="@(y == current)">
                                        @(String.Format("{0:00}-{1:00}月", y * 2 - 1, y * 2))
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--按鈕-->
            <div class="mt-3 d-block text-end">
                <button id="btnQuery" type="button" class="px-3 btn btn-sm eivo__btn--default"
                    onclick="uiVacantNoQuery.inquire();">
                    查詢
                </button>
                <button id="btnQuery" type="button" class="px-3 btn btn-sm eivo__btn--reset"
                    onclick="uiVacantNoQuery.process();">
                    重新整理空白發票
                </button>
            </div>
        </form>
    </div>
</div>
<!-- 表格 開始 -->
<div id="resultList"></div>

<script>
    var uiVacantNoQuery;
    $(function () {
        var $postForm;
        uiVacantNoQuery = {
            inquire: function (pageNum, onPaging) {
                if (pageNum) {
                    $('input[name="pageIndex"]').val(pageNum);
                } else {
                    $('input[name="sort"]').remove();
                }
                $('#theForm').ajaxForm({
                    url: "@(Url.Action("InquireVacantNo", "InvoiceNo"))",
                    beforeSubmit: function () {
                        showLoading();
                        $('#UploadE0402').val('');
                    },
                    success: function (data) {
                        if (data) {
                            if (onPaging) {
                                onPaging(data);
                            } else {
                                if (uiVacantNoQuery.$result)
                                    uiVacantNoQuery.$result.remove();
                                uiVacantNoQuery.$result = $(data);
                                $('#resultList').append(uiVacantNoQuery.$result);
                            }
                        }
                        hideLoading();
                    },
                    error: function () {
                        hideLoading();
                    }
                }).submit();
            },

            download: function () {
                if ($postForm) {
                    $postForm.remove();
                }

                $postForm = $('<form method="post" />').prop('action', '@(Url.Action("DownloadVacantNo", "InvoiceNo"))')
                    .css('display', 'none').appendTo($('body'));

                $('#theForm').serializeArray().forEach(function (item, index) {
                    $('<input type="hidden">')
                        .prop('name', item.name).prop('value', item.value)
                        .appendTo($postForm);
                });
                $postForm.submit();
                //showLoading();
            },
            downloadCsv: function () {
                if ($postForm) {
                    $postForm.remove();
                }

                $postForm = $('<form method="post" />').prop('action', '@(Url.Action("DownloadVacantNoCsv", "InvoiceNo"))')
                    .css('display', 'none').appendTo($('body'));

                $('#theForm').serializeArray().forEach(function (item, index) {
                    $('<input type="hidden">')
                        .prop('name', item.name).prop('value', item.value)
                        .appendTo($postForm);
                });
                $postForm.submit();
                //showLoading();
            },

            process: function () {
                clearErrors();
                $('#theForm').ajaxForm({
                    url: "@(Url.Action("ProcessVacantNo", "InvoiceNo"))",
                    beforeSubmit: function () {
                        showLoading();
                    },
                    success: function (data) {
                        if (data) {
                            $(data).appendTo($('body')).remove();
                        }
                        hideLoading();
                    },
                    error: function () {
                        hideLoading();
                    }
                }).submit();
            }
        };
    });
</script>