@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc

@using ModelCore.DataEntity
@using WebHome.Controllers
@using WebHome.Helper
@{
    ViewBag.Title = "電子發票系統";
    ModelSource<InvoiceItem> models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;

    UserProfile _userProfile;
    IQueryable<SystemMessage> _items;
    _userProfile = Context.GetUser();
    _items = models.GetTable<SystemMessage>().Where(s => s.AlwaysShow || (s.StartDate <= DateTime.Now &&
    s.EndDate.Value.AddDays(1) > DateTime.Now));
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>網際優勢 - 電子發票加值中心 E-Invoice Value-Added Service Center</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/Font-Awesome/all.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/custom.min.css">
    <!-- flatpick plugin -->
    <link rel="stylesheet" href="~/js/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="~/js/jquery-ui/jquery-ui.css">


    @* <link href="~/Content/eivo-bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/bootstrap-theme.css" rel="stylesheet" type="text/css" />
  <link href="~/css/rwd-table.min.css" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="~/App_Themes/Visitor/jquery-ui-1.8.14.custom.css" rel="stylesheet" />
  <link href="~/App_Themes/Visitor/body.css" rel="stylesheet" />
  <link href="~/App_Themes/Visitor/content.css" rel="stylesheet" />
  <link href="~/App_Themes/Visitor/header.css" rel="stylesheet" />*@
    @* <link href="~/App_Themes/Visitor/left-menu.css" rel="stylesheet" /> *@
    @* <link href="~/App_Themes/Visitor/paper.css" rel="stylesheet" />
  <link href="~/App_Themes/Visitor/StyleSheet.css" rel="stylesheet" />
  <link href="~/App_Themes/Visitor/table.css" rel="stylesheet" />  *@
    @*<!--Bootstrap Core CSS -->
        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@

    <!-- MetisMenu CSS -->
    @* <link href="~/vendor/metisMenu/metisMenu.min.css" rel="stylesheet" type="text/css" /> *@

    <!-- Custom CSS -->
    @* <link href="~/css/sb-admin-2.css" rel="stylesheet" type="text/css" /> *@

    <!-- Custom Fonts -->
    @*
        <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @* <link href="~/css/eivo.css" rel="stylesheet" type="text/css" /> *@
    @{
        await Html.RenderPartialAsync("~/Views/Shared/CommonScriptInclude.cshtml");
        //await Html.RenderPartialAsync("~/Views/Shared/JsGrid.ascx");
    }
    @RenderSection("headContent", false)

</head>

<body>
    <header class="navbar eivo__header sticky-top flex-nowrap border-bottom p-0 shadow-sm">
        <div class="me-0 py-0 px-3 navbar-brand">
            <a class="d-flex align-center" href="@Url.Action("MainPage", "Home")">
                <img class="pe-2 eivo__logo" src="/images/uxb2b_logo.png" alt="網際優勢 Logo">
                <span class="align-text-top fs-4 fw-bold custom-element" style="color: #2a91bc;"> 電子發票系統 </span>
            </a>
        </div>
        <nav class="d-inline-flex align-items-center me-4">
            <!--系統公告-->
            @if (_items.Count() > 0)
            {
                <div class="mx-2 mb-0 py-2 alert alert-warning eivo__alert" role="alert">
                    <!--跑馬燈開始-->
                    <marquee class="notice" scrollamount="2">
                        @foreach (var item in _items)
                        {
                            <text>
                                <i class="far fa-info-square"></i>
                                系統公告：
                                <span color="#434343">
                                    @Html.Raw(item.MessageContents)
                                </span>
                            </text>
                        }
                    </marquee>
                    <!--跑馬燈結束-->
                </div>
            }

            <span class="px-2 eivo__text fw-bolder"> Linda 您好，歡迎使用本系統</span>
            <span class="px-2">|</span>
            <a id="todoList" class="eivo__link-tab mx-2" href="@(Url.Action("QueryIndex", "ProcessRequest"))">工作清單</a>
            <!-- User Manager -->
            <div class="mx-2 btn-group">
                <button type="button" class="btn eivo__user--btn dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-user-circle"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                    <li>
                        <a class="dropdown-item" href="@(Url.Action("EditMySelf", "UserProfile"))">
                            <i class="fas fa-user"></i>
                            帳號管理
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="@(Url.Action("Login", "Account"))">
                            <i class="fas fa-sign-out"></i>
                            登出
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid px-0">
        <!--SideBar Menu-->
        @{
            await Html.RenderPartialAsync("~/Views/SiteAction/PageMenuBar.cshtml");
        }
        <!--Page Content-->
        <main class="content__wrapper">
            <ul class="nav nav-tabs" role="tablist" id="masterTab">
                <li role="presentation">
                    @* @(ViewBag.ActionName ?? "首頁") *@
                </li>
            </ul>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("MainPage", "Home")">首頁</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        @(ViewBag.ActionName)
                    </li>
                </ol>
            </nav>

            <!-- Content Area -->
            <div id="masterContent" class="container-fluid">
                <form id="theForm" method="post" role="form" enctype="multipart/form-data">
                    @RenderSection("formContent", false)
                </form>
                @RenderBody()
            </div>

            <!-- Tab panes -->
            <div class="tab-content" id="masterTabContent">
                <div role="tabpanel" class="tab-pane active" id="masterHome">
                    @* <div class="container-fluid">
                        <form id="theForm" method="post" role="form" enctype="multipart/form-data">
                            @RenderSection("formContent", false)
                        </form>
                        <div class="row">
                            @RenderBody()
                        </div>
                    </div> *@
                </div>
            </div>
        </main>
    </div>
    <div id="footer" class="eivo__footer">
        <span class="text-muted">Copyright © UXB2B. All rights reserved.</span>
    </div>
</body>

</html>
@{
    await Html.RenderPartialAsync("~/Views/Shared/GlobalScript.cshtml");
}
@{
    await Html.RenderPartialAsync("~/Views/Shared/AlertMessage.cshtml");
}
@{
    await Html.RenderPartialAsync("~/Views/Shared/ReportInputError.cshtml");
}
