@using System.IO
@using System.Linq.Expressions


@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using WebHome.Controllers

@using ModelCore.Helper
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    InvoiceItem _model;
    InquireInvoiceViewModel _viewModel;
    String _dialogID = "attach" + DateTime.Now.Ticks;



    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _model = this.Model as InvoiceItem;
    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;

}
<form id="@(_dialogID)">
    <div class="px-2 row row-cols-1 row-cols-md-1">
        <div class="py-2 col">
            <div class="row align-items-center">
                <p class="col-md-2 col-form-label fw-bold text-nowrap">
                    發票號碼
                </p>
                <div class="col">
                    @($"{_model.TrackCode}{_model.No}")
                </div>
            </div>
        </div>
        @{
            foreach (var attachment in _model.CDS_Document.Attachment)
            {
                <div class="py-2 col itemList">
                    <div class="row align-items-center">
                        <div class="col col-form-label fw-bold text-nowrap">
                            <a
                                href="@($"{VirtualPathUtility.ToAbsolute("~/Helper/DownloadAttachment.ashx")}?keyName={attachment.KeyName}")">@(attachment.KeyName)，共
                                @(attachment.GetAttachedPdfPageCount()) 頁</a>
                        </div>
                        <div class="col text-end">
                            <button type="button" class="editItem my-1 me-1 px-3 btn btn-sm eivo__btn--red text-nowrap"
                                onclick="uiInvoiceQuery.removeAttachment('@((new { attachment.KeyName, attachment.DocID }).JsonStringify().EncryptData())');">
                                <i class="fal fa-trash-alt"></i>
                                刪除
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="py-2 col">
            <div class="row align-items-center">
                @{
                    await
                    Html.RenderPartialAsync("~/Views/InvoiceProcess/DataAction/UploadAttachment.cshtml",
                    _model?.CDS_Document);
                }
            </div>
        </div>
    </div>
</form>
<script>
    // 附件檔管理 - 開啟視窗
    $global.createModal('arrangeAttachment', '附件檔管理', $('#@(_dialogID)'), true);

    $(function () {
        $global.onAttached = function () {
            if (uiInvoiceQuery.refreshDataRow) {
                uiInvoiceQuery.refreshDataRow();
            }
            $('#arrangeAttachment').modal('hide');
        };

        $('#@(_dialogID)').find('input,select,textarea').attr('data-role', '@(_dialogID)');
    });
</script>
