@using System.IO
@using System.Linq.Expressions


@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    InvoiceBuyer _model;
    InvoiceBuyerViewModel _viewModel;
    String _dialogID = "buyer" + DateTime.Now.Ticks;



    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _model = this.Model as InvoiceBuyer;
    _viewModel = (InvoiceBuyerViewModel)ViewBag.ViewModel;

}
<!-- 編輯買受人資料 -->
<form id="@(_dialogID)">
    <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2">
        <div class="py-2 col">
            <div class="row">
                <label class="col-md-4 col-form-label fw-bold text-nowrap">
                    發票號碼
                </label>
                <div class="col">
                    @($"{_model.InvoiceItem.TrackCode}{_model.InvoiceItem.No}")
                </div>
            </div>
        </div>
        <div class="py-2 col"></div>
        @if (ViewBag.SimpleForm != true)
        {
            <div class="py-2 col">
                <div class="row">
                    <label for="CustomerName" class="col-md-3 col-form-label fw-bold text-nowrap">
                        買受人名稱
                    </label>
                    <div class="col">
                        <input type="text" id="CustomerName" name="CustomerName"
                            class="form_date form-control form-control-sm" value="@(_viewModel.CustomerName)" />
                    </div>
                </div>
            </div>
            <div class="py-2 col">
                <div class="row">
                    <label for="ReceiptNo" class="col-md-3 col-form-label fw-bold text-nowrap">
                        買受人統編
                    </label>
                    <div class="col">
                        <input type="text" id="ReceiptNo" name="ReceiptNo" class="form_date form-control form-control-sm"
                            value="@(_viewModel.ReceiptNo)" />
                    </div>
                </div>
            </div>
            <div class="py-2 col">
                <div class="row">
                    <label for="CustomerID" class="col-md-3 col-form-label fw-bold text-nowrap">
                        顧客 ID
                    </label>
                    <div class="col">
                        <input type="text" id="CustomerID" name="CustomerID" class="form_date form-control form-control-sm"
                            value="@(_viewModel.CustomerID)" />
                    </div>
                </div>
            </div>
            <div class="py-2 col">
                <div class="row">
                    <label for="EMail" class="col-md-3 col-form-label fw-bold text-nowrap">
                        EMail
                    </label>
                    <div class="col">
                        <input type="text" id="EMail" name="EMail" class="form_date form-control form-control-sm"
                            value="@(_viewModel.EMail)" />
                    </div>
                </div>
            </div>
        }
        <div class="py-2 col">
            <div class="row">
                <label for="ContactName" class="col-md-3 col-form-label fw-bold text-nowrap">
                    連絡人名稱
                </label>
                <div class="col">
                    <input type="text" id="ContactName" name="ContactName"
                        class="form_date form-control form-control-sm" value="@(_viewModel.ContactName)" />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="Phone" class="col-md-3 col-form-label fw-bold text-nowrap">
                    連絡人電話
                </label>
                <div class="col">
                    <input type="text" id="Phone" name="Phone" class="form_date form-control form-control-sm"
                        value="@(_viewModel.Phone)" />
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="Address" class="col-md-3 col-form-label fw-bold text-nowrap">
                    連絡人地址
                </label>
                <div class="col">
                    <input type="text" id="Address" name="Address" class="form_date form-control form-control-sm"
                        value="@(_viewModel.Address)" />
                    <script>
                        var $local = {};
                        $(function () {
                            $local.updateZipCode = function () {
                                var $addr = $('#@(_dialogID) input[name="Address"]');
                                var $postCode = $('#@(_dialogID) input[name="PostCode"]');
                                if ($addr.val() != '') {
                                    $.get('http://zip5.5432.tw/zip5json.py?adrs=' + encodeURI($addr.val()), function (data) {
                                        console.log(data);
                                        $postCode.val(data.zipcode);
                                    });
                                }
                            };

                            $('#@(_dialogID) input[name="Address"]').on('change', function (evt) {
                                $local.updateZipCode();
                            });

                            $('#@(_dialogID) input[name="PostCode"]').on('click', function (evt) {
                                $local.updateZipCode();
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="PostCode" class="col-md-3 col-form-label fw-bold text-nowrap">
                    郵遞區號
                </label>
                <div class="col">
                    <input type="text" id="PostCode" name="PostCode" class="form_date form-control form-control-sm"
                        value="@(_viewModel.PostCode)" />
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 modal-footer">
        <button name="Reset" type="reset" class="mx-1 px-3 btn btn-sm eivo__btn--reset">
            重填
        </button>
        <button type="button" id="saveButton" name="saveButton" class="mx-1 px-3 btn btn-sm eivo__btn--default"
            data-bs-dismiss="modal">
            確定
        </button>
    </div>
</form>

<script>
    // 編輯買受人資料 - 開啟視窗
    $global.createModal('editBuyer', '修改買受人', $('#@(_dialogID)'), true);

    $(function () {
        $('#@(_dialogID) #saveButton').on('click', function () {

            var viewModel = @Html.Raw(_viewModel.JsonStringify());
            var $formData = $.extend(viewModel, $('#@(_dialogID)').find('input,select,textarea').serializeObject());
            clearErrors();

            console.log('save', $formData);
            showLoading();
            $.post('@(Url.Action("CommitInvoiceBuyer", ViewBag.SimpleForm == true ? "IndividualProcess" : "InvoiceProcess", new { DialogID = _dialogID }))', $formData, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    if (data.result) {
                        alert('作業完成！');
                        if (uiInvoiceQuery.refreshDataRow) {
                            uiInvoiceQuery.refreshDataRow();
                        }
                    } else {
                        alert(data.message);
                    }
                } else {
                    $(data).appendTo($('body'));
                }
            });
        });

        $('#@(_dialogID) input:button[value="關閉"]').on('click', function () {
            $('#@(_dialogID)').dialog("close");
        });

        $('#@(_dialogID)').find('input,select,textarea').attr('data-role', '@(_dialogID)');
    });
</script>
