@using System.IO
@using System.Linq.Expressions


@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor


@using ModelCore.Helper
@{

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    InvoiceNoInterval _model;
    InvoiceNoIntervalViewModel _viewModel;
    String _dialogID = "allot" + DateTime.Now.Ticks;


    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _model = this.Model as InvoiceNoInterval;
    _viewModel = (InvoiceNoIntervalViewModel)ViewBag.ViewModel;

}
<!-- 本組數均分 -->
<form id="@(_dialogID)">
    <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2">
        <div class="py-2 col">
            <div class="row">
                <div class="col-md-4 fw-bold text-nowrap">
                    @(_model.InvoiceTrackCodeAssignment.InvoiceTrackCode.Year)/@(_model.InvoiceTrackCodeAssignment.InvoiceTrackCode.PeriodNo
                    *2 - 1)~@(_model.InvoiceTrackCodeAssignment.InvoiceTrackCode.PeriodNo * 2)
                </div>
                <div class="col">
                    @(_model.InvoiceTrackCodeAssignment.InvoiceTrackCode.TrackCode)@(_model.StartNo)~@(_model.EndNo)
                </div>
            </div>
        </div>
        <div class="py-2 col">
            <div class="row">
                <label for="Parts" class="col-md-3 col-form-label fw-bold text-nowrap">
                    平均分配本數
                </label>
                <div class="col">
                    <input type="text" id="Parts" name="Parts" class="form_date form-control form-control-sm  Parts"
                        value="@(_viewModel.Parts)" />
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 modal-footer">
        <button type="button" id="saveButton" class="mx-1 px-3 btn btn-sm eivo__btn--default">
            確定
        </button>
    </div>
    </div>
</form>

<script>
    // 本組數均分- 開啟視窗
    $global.createModal('allotInterval', '本組數均分', $('#@(_dialogID)'), true);

    $(function () {
        $('#saveButton').on('click', function () {
            var event = event || window.event;
            var $formData = $('#@(_dialogID)').find('input,select,textarea').serializeObject();
            clearErrors();

            showLoading();
            $.post('@(Url.Action("CommitAllotment", "InvoiceNo", new { keyID = _model.IntervalID.EncryptKey() }))', $formData, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    if (data.result) {
                        alert('作業完成！');
                        $('#allotInterval').modal('hide');
                        $('#allotInterval').remove();
                        if (uiTrackCodeNo.inquire) {
                            uiTrackCodeNo.inquire();
                        }
                    } else {
                        alert(data.message);
                    }
                } else {
                    $(data).appendTo($('body'));
                }
            });
        });

        $('#@(_dialogID)').find('input,select,textarea').attr('data-role', '@(_dialogID)');
    });
</script>
