@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor


@{

    InvoiceNoIntervalViewModel _viewModel;
    InvoiceNoInterval _model;


    _viewModel = (InvoiceNoIntervalViewModel)ViewBag.ViewModel;
    _model = (InvoiceNoInterval)this.Model;
}
<!-- 電子發票號碼維護 -->
<tr>
    <td class="text-center">
        @(_model.InvoiceTrackCodeAssignment.Organization.ReceiptNo)
    </td>
    <td class="text-center">
        @(_model.InvoiceTrackCodeAssignment.InvoiceTrackCode.Year)
    </td>
    <td class="text-center">
        @(String.Format("{0:00}-{1:00}月", _model.InvoiceTrackCodeAssignment.InvoiceTrackCode.PeriodNo * 2 - 1,
                _model.InvoiceTrackCodeAssignment.InvoiceTrackCode.PeriodNo * 2))
    </td>
    <td class="text-center">
        @(_model.InvoiceTrackCodeAssignment.InvoiceTrackCode.TrackCode)
    </td>
    <td class="text-center">
        <input type="text" name="StartNo" class="form-control form-control-sm" data-role="edit"
            placeholder="請輸入配號區間起始號碼" value="@(String.Format("{0:00000000}", _model.StartNo))" />
    </td>
    <td class="text-center">
        <input type="text" name="EndNo" class="form-control form-control-sm" data-role="edit" placeholder="請輸入配號區間結尾號碼"
            value="@(String.Format("{0:00000000}", _model.EndNo))" />
    </td>
    <td class="text-center">
        <input type="text" name="DeviceName" class="form-control form-control-sm" data-role="edit" placeholder="POS機號碼"
            value="@Html.Raw(_model.InvoiceNoSegment?.DeviceName)" />
    </td>
    <td></td>
    <td></td>
    <td colspan="2" class="text-center">
        <button type="button" class="editItem my-1 me-1 px-3 btn btn-sm eivo__btn--check text-nowrap"
            onclick="uiTrackCodeNo.commitItem('@(_model.IntervalID.EncryptKey())');">
            <i class="fas fa-check"></i>
            確定
        </button>
        <button type="button" class="editItem my-1 me-1 px-3 btn btn-sm eivo__btn--cancel text-nowrap"
            onclick="uiTrackCodeNo.showItem('@(_model.IntervalID.EncryptKey())');">
            <i class="far fa-times"></i>
            取消
        </button>
    </td>
</tr>
