@using System.IO
@using System.Linq.Expressions



@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{

    UserProfile _model;
    _model = (UserProfile)this.Model;
}

<tr>
    <td>
        @(_model.UserRole.Count > 0 ? _model.UserRole.First().OrganizationCategory.Organization.CompanyName : null)
    </td>
    <td class="text-center">
        @(_model.UserRole.Count > 0 ? ((Naming.EIVOUserRoleID)_model.UserRole.First().RoleID).ToString() : null)
    </td>
    <td>@(_model.UserName)</td>
    <td class="text-center">@(_model.PID)</td>
    <td style="min-width: 250px;word-break: break-all;">@(_model.EMail)</td>
    <td class="text-center">
        <div class="dropdown">
            <button class="px-3 btn btn-sm eivo__btn--default dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                功能
            </button>
            <ul class="dropdown-menu shadow dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a class="dropdown-item" href="#" onclick="uiAccountQuery.edit(@(_model.UID));">
                        <i class="fas fa-caret-right"></i>
                        編輯
                    </a>
                </li>
                @if (_model.LevelID == (int)Naming.MemberStatusDefinition.Mark_To_Delete)
                {
                    <li>
                        <a class="dropdown-item" href="#" onclick="uiAccountQuery.activate(@(_model.UID));">
                            <i class="fas fa-caret-right"></i>
                            啟用
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="dropdown-item" href="#" onclick="uiAccountQuery.sendConfirmation(@(_model.UID));">
                            <i class="fas fa-caret-right"></i>
                            重送確認信
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" onclick="uiAccountQuery.deactivate(@(_model.UID));">
                            <i class="fas fa-caret-right"></i>
                            停用
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger" href="#" onclick="uiAccountQuery.delete(@(_model.UID));">
                            <i class="fas fa-caret-right"></i>
                            刪除
                        </a>
                    </li>
                }
            </ul>
        </div>
    </td>
</tr>
