@using System.IO
@using System.Linq.Expressions



@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{

    UserProfile _model;
    _model = (UserProfile)this.Model;
}

<tr>
    <td>
        @(_model.UserRole.Count > 0 ? _model.UserRole.First().OrganizationCategory.Organization.CompanyName : null)
    </td>
    <td class="text-center">
        @(_model.UserRole.Count > 0 ? ((Naming.EIVOUserRoleID)_model.UserRole.First().RoleID).ToString() : null)
    </td>
    <td class="text-center">@(_model.UserName)</td>
    <td class="text-center">@(_model.PID)</td>
    <td style="min-width: 250px;word-break: break-all;">@(_model.EMail)</td>
    <td>
        <button type="button" class="my-1 px-3 btn btn-sm eivo__btn--default text-nowrap"
            onclick="uiAccountQuery.edit(@(_model.UID));">
            <i class="fal fa-edit"></i>
            編輯
        </button>
        @if (_model.LevelID == (int)Naming.MemberStatusDefinition.Mark_To_Delete)
        {
            <button type="button" class="my-1 px-3 btn btn-sm eivo__btn--check text-nowrap"
                onclick="uiAccountQuery.activate(@(_model.UID));">
                <i class="fas fa-play"></i>
                啟用
            </button>
        }
        else
        {
            <button type="button" class="my-1 px-3 btn btn-sm eivo__btn--check text-nowrap"
                onclick="uiAccountQuery.sendConfirmation(@(_model.UID));">
                <i class="fas fa-paper-plane"></i>
                重送確認信
            </button>
            <button type="button" class="my-1 px-3 btn btn-sm eivo__btn--red text-nowrap"
                onclick="uiAccountQuery.deactivate(@(_model.UID));">
                <i class="fas fa-stop"></i>
                停用
            </button>
            <button type="button" class="my-1 px-3 btn btn-sm eivo__btn--red text-nowrap"
                onclick="uiAccountQuery.delete(@(_model.UID));">
                <i class="fal fa-trash-alt"></i>
                刪除
            </button>
        }
    </td>
</tr>
