
@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor


@using WebHome.Helper
@using ModelCore.Locale
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Security.MembershipManagement
@using WebHome.Controllers

@using ModelCore.Helper
@{
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    IQueryable<Organization> _model;
    SellerSelectorViewModel _viewModel = ViewBag.ViewModel as SellerSelectorViewModel;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _model = (IQueryable<Organization>)this.Model;
    if (_viewModel == null)
    {
        ViewBag.ViewModel = _viewModel = new SellerSelectorViewModel { };
        _viewModel.FieldName = ViewBag.FieldName ?? "SellerID";
    }

    var _fieldName = _viewModel.FieldName ?? ViewBag.FieldName ?? "SellerID";// 最終欄位名稱：優先取 ViewModel > ViewBag > 預設值
    var _profile = Context.GetUser();
    var _contentID = "id" + Guid.NewGuid().ToString("N");
    var _valueID = "value" + Guid.NewGuid().ToString("N");
}

@if (_profile.IsSystemAdmin())
{
    await Html.RenderPartialAsync("~/Views/Home/Module/CompanyQuickSearch.cshtml", _model);
}
else
{
    <select class="form-control" name="@(_fieldName)">
        @if (ViewBag.SelectorIndication != null)
        {
            <option value="@(ViewBag.SelectorIndicationValue ?? "")">@(ViewBag.SelectorIndication)</option>
        }
        @foreach (var o in _model.OrderBy(o => o.ReceiptNo))
        {
            <option value="@(_viewModel.Encrypt==true ? o.CompanyID.EncryptKey() : o.CompanyID.ToString())">@(String.Format("{0} {1}", o.ReceiptNo, o.CompanyName))</option>
        }
    </select>
}
