@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Html

@using ModelCore.Locale
@using ModelCore.DataEntity
@using WebHome.Controllers
@using WebHome.Helper
@using ModelCore.Models.ViewModel
@using WebHome.Models.ViewModel
@using Newtonsoft.Json.Linq
@{

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    QueryViewModel? _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _model = this.Model as QueryViewModel ?? ViewBag.ViewModel as QueryViewModel;

    String _dialogID = _model?.DialogID ?? $"message{DateTime.Now.Ticks}";
    JObject? options = ViewBag.DialogOptions as JObject;

}
<div class="modal fade" id="@(_dialogID)" tabindex="-1" aria-labelledby="@(_dialogID)ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold text-primary" id="@(_dialogID)ModalLabel">
                    @(_model?.ActionTitle ?? "訊息")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#@(_dialogID)').modal('show');
    });
</script>
