@using System.IO
@using System.Linq.Expressions

@using WebHome.Models
@using WebHome.Helper
@using WebHome.Models.ViewModel
@using WebHome.Controllers
@using WebHome.Components

@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Security.MembershipManagement
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{

    ModelSource<InvoiceItem> models;
    String _title;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _title = ViewBag.Title ?? "重送開立發票通知";
    QueryViewModel _viewModel = ViewBag.ViewModel as QueryViewModel;
    _viewModel.UrlAction = Url.Action("Inquire2023", "InvoiceProcess");

}
<div class="py-2 eivo__title d-flex align-items-center justify-content-between">
    <div>
        <!--交易畫面標題-->
        @{
            await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", _title);
        }
    </div>
    <div>
        <!--買受人資料-->
        <span class="fw-bold">
            買受人資料：
        </span>
        <button type="button" id="btnBuyerSample" class="px-3 btn btn-sm eivo__btn--default" onclick="getSample();">
            <i class="fas fa-download"></i>
            下載範本
        </button>
        <script>
            function getSample() {
                $('').launchDownload('../Helper/GetSample.ashx', { 'data': 'InvoiceBuyer' });
            }
        </script>
        @{
            await Html.RenderPartialAsync("~/Views/Shared/Module/FileUpload.cshtml",
            new AttachmentViewModel
            {
                FileName = "InvoiceBuyer",
                ButtonField = "傳送更新",
                UrlAction = Url.Action("UpdateBuyerInfo", "DataExchange", new { IssueNotification = true }),
            });
        }
    </div>
</div>

<div id="queryArea" class="mb-4 card shadow-sm border-2 rounded-3">
    <div class="card-body">
        <form id="queryForm" method="post" enctype="multipart/form-data">
            <!-- 查詢條件 -->
            <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-3">
                @{
                    await Html.RenderPartialAsync("~/Views/InvoiceProcess/Module/QueryDirective.cshtml", 0);
                    ViewBag.QueryAll = true;
                    @(await Component.InvokeAsync<InquireInvoiceConsumptionViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceSellerViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceBuyerViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceBuyerByNameViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireCustomerIDViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceDateViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceAgentViewComponent>())
                    ;
                }

                @{
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByAttachment.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByWinningNumber.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByCancellation.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByPrintMark.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByPrintStatus.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByCarrierType.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByCarrierNo.cshtml");
                }
                <div class="py-2 col">
                    <div class="row">
                        <label for="IsNoticed" class="col-md-4 col-form-label fw-bold text-nowrap">
                            通知未送出
                        </label>
                        <div class="col">
                            <select id="IsNoticed" name="IsNoticed" class="form-select form-select-sm">
                                <option value="">全部</option>
                                <option value="False">是</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--按鈕-->
            <div class="mt-3 px-1 d-block text-end">
                <button id="btnQuery" type="button" class="mx-1 px-3 btn btn-sm eivo__btn--default"
                    onclick="$inquiryAgent.initQuery = true; $inquiryAgent.inquire();">
                    查詢
                </button>
            </div>
        </form>
    </div>
</div>
<!-- 顯示列表 -->
<div id="resultList"></div>