@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Components
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{


    ModelSource<InvoiceItem> models;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;

    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
    _viewModel.UrlAction = Url.Action("Inquire2023", "InvoiceProcess");

}
<!-- 交易畫面標題 -->
<div class="py-2 eivo__title d-flex align-items-center justify-content-between">
    @{
        await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "MIG格式下載");
    }
</div>

<div id="queryArea" class="mb-4 card shadow-sm border-2 rounded-3">
    <div class="card-body">
        <form id="queryForm" method="post" enctype="multipart/form-data">
            <!-- 查詢條件 -->
            <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4">
                <input type="hidden" name="ResultAction" value="@(_viewModel.ResultAction ?? "CreateMIG")" />
                @{
                    await Html.RenderPartialAsync("~/Views/InvoiceProcess/Module/QueryDirective.cshtml", 0);
                    ViewBag.QueryAll = true;
                    @(await Component.InvokeAsync<InquireInvoiceConsumptionViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceSellerViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceBuyerViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceBuyerByNameViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireCustomerIDViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceDateViewComponent>())
                    ;
                    @(await Component.InvokeAsync<InquireInvoiceAgentViewComponent>())
                    ;
                }

                @{
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByAttachment.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByWinningNumber.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByCancellation.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByPrintMark.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByPrintStatus.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByCarrierType.cshtml");
                    await Html.RenderPartialAsync("~/Views/InquireInvoice/ByCarrierNo.cshtml");
                }
            </div>
            <!-- 按鈕 -->
            <div class="mt-3 px-1 d-block text-end">
                <button id="btnQuery" type="button" class="px-3 my-1 me-1 btn btn-sm eivo__btn--default"
                    onclick="$inquiryAgent.initQuery = true; $inquiryAgent.inquire();">
                    查詢
                </button>
            </div>
        </form>
    </div>
</div>
<!-- 顯示列表 -->
<div id="resultList"></div>

@{
    await Html.RenderPartialAsync("~/Views/InvoiceProcess/ScriptHelper/Common.cshtml");
    await Html.RenderPartialAsync("~/Views/InvoiceProcess/ScriptHelper/ForMIG.cshtml");
}
