@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{

    ModelSource<InvoiceItem> models;
    UserProfile _profile;
    BusinessRelationshipQueryViewModel _viewModel;


    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _profile = Context.GetUser();
    _viewModel = (BusinessRelationshipQueryViewModel)ViewBag.ViewModel;

    _viewModel.UrlAction = Url.Action("InquireBusinessRelationship");
    _viewModel.DeleteAction = Url.Action("DeleteItem");
    _viewModel.LoadAction = Url.Action("ProcessDataItem");
    _viewModel.CommitAction = Url.Action("CommitItem");
    _viewModel.DownloadAction = Url.Action("CreateXlsx");
    _viewModel.EditAction = "default";
    _viewModel.EmptyKeyID = (new { MasterID = -1, RelativeID = -1, BusinessID = -1 }).JsonStringify().EncryptData();

}

@*<table class="top_table" border="0" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td>
                @if (_profile.IsSystemAdmin())
                {
                    <div class="btn-group dropdown" data-toggle="dropdown">
                        <button class="btn bg-color-blueLight" data-toggle="dropdown" aria-expanded="false">匯入相對營業人</button>
                        <button class="btn bg-color-blueLight dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></button>
                        <ul class="dropdown-menu" style="min-width:auto;">
                            <li><button type="button" class="btn" onclick="window.location.href='@(Url.Action("ImportCounterpartBusiness", "BusinessRelationship"))';">匯入分店相對營業人</button></li>
                            <li><button type="button" class="btn" onclick="window.location.href='@(Url.Action("ImportCounterpartBusinessXml", "BusinessRelationship"))';">匯入商務關係相對營業人</button></li>
                        </ul>
                    </div>
                }
                else
                {
                    <button type="button" class="btn" onclick="window.location.href='@(Url.Action("ImportCounterpartBusinessXml", "BusinessRelationship"))';">匯入相對營業人</button>
                }
            </td>
        </tr>
    </tbody>
</table>*@

<!-- 相對營業人資料維護 -->
<!-- 交易畫面標題 -->
<div class="py-2 eivo__title d-flex align-items-center justify-content-between">
    <div>
        @{
            await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "相對營業人資料維護");
        }
    </div>
    <div>
        <!--匯入相對營業人-->
        <span class="fw-bold">
            匯入相對營業人：
        </span>
        <button type="button" name="btnDataSample" class="px-3 my-1 me-1 btn btn-sm eivo__btn--default"
            onclick="$inquiryAgent.downloadQuery({'KeyID':'@((new { MasterID = -1 }).JsonStringify().EncryptData())'});">
            <i class="fas fa-download"></i>
            下載範本
        </button>
        @{
            await Html.RenderPartialAsync("~/Views/Shared/Module/FileUpload.cshtml",
            new AttachmentViewModel
            {
                FileName = "ExcelFile",
                ButtonField = "立即傳送",
                GetFormData = "getFormData()",
                UrlAction = Url.Action("UploadCounterpartBusiness", "BusinessRelationship"),
            });
        }
        <script>
            function getFormData() {
                var $placement = $('#queryArea');
                var $formData = $placement.find('input,select,textarea').serializeObject();
                return $formData;
            }
        </script>
    </div>
</div>

<div id="queryArea" class="mb-4 card shadow-sm border-2 rounded-3">
    <div class="card-body">
        <form id="queryForm" method="post" enctype="multipart/form-data">
            <!-- 查詢條件 -->
            <div class="px-2 row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4">
                <div class="py-2 col">
                    <div class="row">
                        <label for="AllowancePrintView" class="col-md-4 col-form-label fw-bold text-nowrap">
                            集團成員
                        </label>
                        <div class="col">
                            @{
                                ViewBag.SelectAll = true;
                                await
                                Html.RenderPartialAsync("~/Views/BusinessRelationship/Module/GroupMemberSelector.cshtml");
                            }
                        </div>
                    </div>
                </div>
                <div class="py-2 col">
                    <div class="row">
                        <label for="ReceiptNo" class="col-md-4 col-form-label fw-bold text-nowrap">
                            營業人統編
                        </label>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" id="ReceiptNo" name="ReceiptNo" />
                        </div>
                    </div>
                </div>
                <div class="py-2 col">
                    <div class="row">
                        <label for="CompanyName" class="col-md-4 col-form-label fw-bold text-nowrap">
                            營業人名稱
                        </label>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" id="CompanyName"
                                name="CompanyName" />
                        </div>
                    </div>
                </div>
                <div class="py-2 col">
                    <div class="row">
                        <label for="ReceiptNo" class="col-md-4 col-form-label fw-bold text-nowrap">
                            營業人類別
                        </label>
                        <div class="col">
                            @{
                                ViewBag.FieldName = "BusinessType";
                                ViewBag.SelectorIndication = "全部";
                                ViewBag.SelectorIndicationValue = "";
                                await Html.RenderPartialAsync("~/Views/Common/Module/EnumSelector.cshtml",
                                typeof(Naming.InvoiceCenterBusinessType));
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--按鈕-->
            <div class="mt-3 px-1 d-block text-end">
                <button id="btnQuery" type="button" class="px-3 my-1 me-1 btn btn-sm eivo__btn--default"
                    onclick="$inquiryAgent.initQuery = true; $inquiryAgent.inquire();">
                    查詢
                </button>
            </div>
        </form>
    </div>
</div>
<!-- 顯示列表 -->
<div id="resultList"></div>

<script>
    window.addEventListener('load', () => {
        changeMenu('system_02', 'MaintainRelationship');
    });


    var uiInquireBusiness;
    $(function () {

        uiInquireBusiness = {
            $result: null,
            commitItem: function (value) {
                var event = event || window.event;
                var $tr = $(event.target).closest('tr');
                $.post('@(Url.Action("CommitItem", "BusinessRelationship"))', $.param($tr.find('input,select,textarea')), function (data) {
                    if (data) {
                        var $data = $(data);
                        if ($data.is('tr')) {
                            $tr.before($data);
                            if (value) {
                                alert('資料已更新!!');
                                $tr.remove();
                            }
                        } else {
                            $('body').append($data);
                            $data.remove();
                        }
                    }
                });
            },
            edit: function (value) {
                actionHandler('../Helper/EditCompany.aspx',
                    { 'companyID': value },
                    function () {
                        uiInquireBusiness.inquireBusiness();
                    }, 800, 560);
            },
            inquireBusiness: function (pageNum, onPaging) {
                $('form').ajaxForm({
                    url: "@(Url.Action("InquireBusinessRelationship", "BusinessRelationship"))" + "?pageIndex=" + pageNum,
                    beforeSubmit: function () {
                        showLoading();
                    },
                    success: function (data) {
                        hideLoading();
                        if (data) {
                            if (onPaging) {
                                onPaging(data);
                            } else {
                                if (uiInquireBusiness.$result)
                                    uiInquireBusiness.$result.remove();
                                uiInquireBusiness.$result = $(data);
                                $('.queryAction').after(uiInquireBusiness.$result);
                            }
                        }
                    },
                    error: function () {
                    }
                }).submit();
            },
            deleteItem: function (businessID, masterID, relativeID) {
                if (confirm('確認刪除此營業人關係?')) {
                    var event = event || window.event;
                    var $tr = $(event.target).closest('tr');
                    $.post('@(Url.Action("DeleteItem", "BusinessRelationship"))', { businessID: businessID, masterID: masterID, relativeID: relativeID }, function (data) {
                        if (data.result) {
                            alert('資料已刪除!!')
                            $tr.remove();
                        } else {
                            alert(data.message);
                        }
                    });

                }
            },
            entrustToPrint: function (businessID, masterID, relativeID, onoff) {
                if (confirm('確認停用列印?')) {
                    var event = event || window.event;
                    var $tr = $(event.target).closest('tr');
                    $.post('@(Url.Action("SetEntrustToPrint", "BusinessRelationship"))', { businessID: businessID, masterID: masterID, relativeID: relativeID, status: onoff }, function (data) {
                        if (data) {
                            var $data = $(data);
                            if ($data.is('tr')) {
                                $tr.before($data);
                                alert('資料已更新!!');
                                $tr.remove();
                            } else {
                                $('body').append($data);
                                $data.remove();
                            }
                        }
                    });

                }
            },
            entrusting: function (businessID, masterID, relativeID, onoff) {
                if (confirm('確認啟用此營業人自動接收?')) {
                    var event = event || window.event;
                    var $tr = $(event.target).closest('tr');
                    $.post('@(Url.Action("SetEntrusting", "BusinessRelationship"))', { businessID: businessID, masterID: masterID, relativeID: relativeID, status: onoff }, function (data) {
                        if (data) {
                            var $data = $(data);
                            if ($data.is('tr')) {
                                $tr.before($data);
                                alert('資料已更新!!');
                                $tr.remove();
                            } else {
                                $('body').append($data);
                                $data.remove();
                            }
                        }
                    });

                }
            },
            activate: function (businessID, masterID, relativeID) {
                if (confirm('確認啟用此營業人?')) {
                    var event = event || window.event;
                    var $tr = $(event.target).closest('tr');
                    $.post('@(Url.Action("Activate", "BusinessRelationship"))', { businessID: businessID, masterID: masterID, relativeID: relativeID }, function (data) {
                        if (data) {
                            var $data = $(data);
                            if ($data.is('tr')) {
                                $tr.before($data);
                                alert('資料已更新!!');
                                $tr.remove();
                            } else {
                                $('body').append($data);
                                $data.remove();
                            }
                        }
                    });

                }
            },
            deactivate: function (businessID, masterID, relativeID) {
                if (confirm('確認停用此營業人?')) {
                    var event = event || window.event;
                    var $tr = $(event.target).closest('tr');
                    $.post('@(Url.Action("Deactivate", "BusinessRelationship"))', { businessID: businessID, masterID: masterID, relativeID: relativeID }, function (data) {
                        if (data) {
                            var $data = $(data);
                            if ($data.is('tr')) {
                                $tr.before($data);
                                alert('資料已更新!!');
                                $tr.remove();
                            } else {
                                $('body').append($data);
                                $data.remove();
                            }
                        }
                    });
                }
            },

            inquireUser: function (value) {
                $.post('@(Url.Action("AccountIndex", "Account", new { showTab = true, roleID = (int)Naming.RoleQueryDefinition.分店相對營業人 }))', { 'sellerID': value }, function (data) {
                    $global.createTab('@("listUser" + DateTime.Now.Ticks)', '使用者管理', data, true);
                });
            },
        };
    });
</script>
