@using System.IO
@using System.Linq.Expressions

@using ModelCore.DataEntity
@using ModelCore.Locale
@{
    InvoiceTrackCode _model;
    _model = (InvoiceTrackCode)this.Model;
}
<tr>
    <td class="text-center">@(_model.Year - 1911)</td>
    <td class="text-center">@(String.Format("{0:00}", _model.PeriodNo * 2 - 1))~@(String.Format("{0:00}",
                _model.PeriodNo * 2))月</td>
    <td class="text-center">@(_model.TrackCode)</td>
    <td class="text-center">@($"{(Naming.InvoiceTypeDefinition?)_model.InvoiceType}")</td>
    <td class="text-center">
        <button type="button" class="editItem my-1 me-1 px-3 btn btn-sm eivo__btn--default text-nowrap"
            onclick="uiTrackCodeQuery.edit(@(_model.TrackID));">
            <i class="fal fa-edit"></i>
            編輯
        </button>
        <button type="button" class="editItem my-1 me-1 px-3 btn btn-sm eivo__btn--red text-nowrap"
            onclick="uiTrackCodeQuery.delete(@(_model.TrackID));">
            <i class="fal fa-trash-alt"></i>
            刪除
        </button>
    </td>
</tr>