@using System.IO
@using System.Linq.Expressions

@using ModelCore.DataEntity
@using ModelCore.Locale
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@{
    TrackCodeQueryViewModel _viewModel;
    InvoiceTrackCode _model;

    _viewModel = (TrackCodeQueryViewModel)ViewBag.ViewModel;
    _model = (InvoiceTrackCode)this.Model;
}
<tr>
    <td class="text-center">
        @(_model.Year - 1911)
        <input name="Year" type="hidden" value="@(_model.Year)" />
    </td>
    <td class="text-center">
        @(String.Format("{0:00}", _model.PeriodNo * 2 - 1))~@(String.Format("{0:00}", _model.PeriodNo * 2))月
    </td>
    <td class="text-center">
        <input type="text" name="TrackCode" class="form-control form-control-sm" placeholder="請輸入字軌"
            value="@(_model.TrackCode)" data-role="edit" />
    </td>
    <td class="text-center">
        <select name="InvoiceType" class="form-select form-select-sm">
            <option value="7"
                selected="@Html.Raw(_model.InvoiceType == (byte)Naming.InvoiceTypeDefinition.一般稅額計算之電子發票)">
                @Html.Raw(Naming.InvoiceTypeDefinition.一般稅額計算之電子發票)
            </option>
            <option value="8"
                selected="@Html.Raw(_model.InvoiceType == (byte)Naming.InvoiceTypeDefinition.特種稅額計算之電子發票)">
                @Html.Raw(Naming.InvoiceTypeDefinition.特種稅額計算之電子發票)
            </option>
        </select>
    </td>
    <td class="text-center">
        <button type="button" class="editItem my-1 px-3 btn btn-sm eivo__btn--check"
            onclick="uiTrackCodeQuery.commitItem(@(_model.TrackID));">
            <i class="fas fa-check"></i>
            確定
        </button>
        <button type="button" class="editItem my-1 px-3 btn btn-sm eivo__btn--cancel"
            onclick="uiTrackCodeQuery.showItem(@(_model.TrackID));">
            <i class="far fa-times"></i>
            取消
        </button>
</tr>