@using System.IO
@using System.Linq.Expressions


@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json

<nav id="sidebarMenu" class="pb-4 d-block sidebar">
    <div class="accordion" id="accordionSideMenu">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_01">
                <button class="system_01 py-2 fs-1-5 fw-bold accordion-button eivo__menu-title rounded-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#system_01" aria-expanded="false"
                    aria-controls="system_01">
                    系統管理維護
                </button>
            </h2>
            <div id="system_01" class="accordion-collapse collapse" aria-labelledby="heading_01"
                data-bs-parent="#accordionSideMenu">
                <div class="accordion-body p-0">
                    <div class="list-group list-group-flush">
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("Index", "TrackCode", new { group = "system_01" }))')"
                            id="TrackCode" class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            電子發票字軌維護
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("Index", "PeriodicalExchangeRate", new { group = "system_01" }))')"
                            id="PeriodicalExchangeRate"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            期別匯率維護
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("Index", "WinningNumber", new { group = "system_01" }))')"
                            id="WinningNumber"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            電子發票中獎號碼維護
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("MailTracking", "Handling", new { group = "system_01" }))')"
                            id="MailTracking"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            登錄掛號郵件號碼
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_02">
                <button class="system_02 py-2 fs-1-5 fw-bold accordion-button eivo__menu-title rounded-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#system_02" aria-expanded="false"
                    aria-controls="system_02">
                    會員管理維護
                </button>
            </h2>
            <div id="system_02" class="accordion-collapse collapse" aria-labelledby="heading_02"
                data-bs-parent="#accordionSideMenu">
                <div class="list-group list-group-flush">
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("AccountIndex", "Account", new { group = "system_02" }))')"
                        id="AccountIndex" class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        使用者帳號管理
                    </a>
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("Index", "OrganizationQuery", new { group = "system_02" }))')"
                        id="OrganizationQuery"
                        class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        營業人資料管理
                    </a>
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("InquireToProcess", "InvoiceProcess", new { group = "system_02" }))')"
                        id="InquireToProcess"
                        class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        買受人資料管理
                    </a>
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("MaintainRelationship", "BusinessRelationship", new { group = "system_02" }))')"
                        id="MaintainRelationship"
                        class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        相對營業人資料管理
                    </a>
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("QueryIndex", "InvoiceNumberApply", new { group = "system_02" }))')"
                        id="InvoiceNumberApply"
                        class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        新登錄營業人資料受理
                    </a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_03">
                <button class="system_03 py-2 fs-1-5 fw-bold accordion-button eivo__menu-title rounded-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#system_03" aria-expanded="false"
                    aria-controls="system_03">
                    發票作業
                </button>
            </h2>
            <div id="system_03" class="accordion-collapse collapse" aria-labelledby="heading_01"
                data-bs-parent="#accordionSideMenu">
                <div class="accordion-body p-0">
                    <div class="list-group list-group-flush">
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("MaintainInvoiceNoInterval", "InvoiceNo", new { group = "system_03" }))')"
                            id="MaintainInvoiceNoInterval"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            電子發票號碼維護
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("Index", "InvoiceProcess", new { group = "system_03" }))')"
                            id="InvoiceProcess"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            資料查詢／列印／匯出
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("CreateInvoice", "InvoiceBusiness", new { group = "system_03" }))')"
                            id="CreateInvoice"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            線上開立發票
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("InquireToCancel", "InvoiceProcess", new { group = "system_03" }))')"
                            id="InquireToCancel"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            線上作廢發票
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("InquireToIssueAllowance", "InvoiceProcess", new { group = "system_03" }))')"
                            id="InquireToIssueAllowance"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            線上開立折讓證明
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("VacantNoIndex", "InvoiceNo", new { group = "system_03" }))')"
                            id="VacantNoIndex"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            上期發票空白號碼查詢／匯出
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("InquireToMIG", "InvoiceProcess", new { group = "system_03" }))')"
                            id="InquireToMIG"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            下載MIG檔案
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("InquireToAuthorize", "InvoiceProcess", new { group = "system_03" }))')"
                            id="InquireToAuthorize"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            核准重印發票
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("InquireToVoid", "InvoiceProcess", new { group = "system_03" }))')"
                            id="InquireToVoid"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            註銷發票
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("AllowToVoid", "InvoiceProcess", new { group = "system_03" }))')"
                            id="AllowToVoid"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            核准註銷發票
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("Index", "DataExchange", new { group = "system_03" }))')"
                            id="DataExchange"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            資料管理
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_04">
            <button class="system_04 py-2 fs-1-5 fw-bold accordion-button eivo__menu-title rounded-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#system_04" aria-expanded="false" aria-controls="system_04">
                發票通知
            </button>
        </h2>
        <div id="system_04" class="accordion-collapse collapse" aria-labelledby="heading_01"
            data-bs-parent="#accordionSideMenu">
            <div class="accordion-body p-0">
                <div class="list-group list-group-flush">
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("IssuingNotice", "InvoiceProcess", new { group = "system_04" }))')"
                        id="IssuingNotice" class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        重送開立發票通知
                    </a>
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("InquireToNotifyWinning", "InvoiceProcess", new { group = "system_04" }))')"
                        id="InquireToNotifyWinning"
                        class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        重送發票中獎通知
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_05">
            <button class="system_05 py-2 fs-1-5 fw-bold accordion-button eivo__menu-title rounded-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#system_05" aria-expanded="false" aria-controls="system_05">
                統計報表
            </button>
        </h2>
        <div id="system_05" class="accordion-collapse collapse" aria-labelledby="heading_01"
            data-bs-parent="#accordionSideMenu">
            <div class="accordion-body p-0">
                <div class="list-group list-group-flush">
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("InvoiceReport", "InvoiceQuery", new { group = "system_05" }))')"
                        id="InvoiceReport" class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        發票明細查詢
                    </a>
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("InvoiceSummary", "InvoiceQuery", new { group = "system_05" }))')"
                        id="InvoiceSummary" class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        發票統計表
                    </a>
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("ReportIndex", "WinningInvoice", new { group = "system_05" }))')"
                        id="WinningInvoice" class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        中獎統計表
                    </a>
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("ReportIndex", "DonatedInvoice", new { group = "system_05" }))')"
                        id="DonatedInvoice" class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        捐贈統計表
                    </a>
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("InvoiceAttachment", "InvoiceQuery", new { group = "system_05" }))')"
                        id="InvoiceAttachment"
                        class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        附件檔查詢＼下載
                    </a>
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("InvoiceMediaReport", "InvoiceQuery", new { group = "system_05" }))')"
                        id="InvoiceMediaReport"
                        class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        媒體申報檔匯出
                    </a>
                    <a href="#"
                        onclick="urlHandler('@(Url.Action("MonthlyReport", "InvoiceQuery", new { group = "system_05" }))')"
                        id="MonthlyReport" class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                        <i class="fas fa-angle-right me-1"></i>
                        下載發票月報表
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>