@using System.IO
@using System.Linq.Expressions



@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@functions
{
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    IEnumerable<String> _model;
    QueryViewModel _viewModel;
}
@{
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    _viewModel = (QueryViewModel)ViewBag.ViewModel;

    _model = this.Model as IEnumerable<String>;

}
@{
    int idx = 0;
}
@foreach (var item in _model)
{
    idx++;
    String fileName = System.IO.Path.GetFileNameWithoutExtension(item);
    String businessID = fileName.Substring(fileName.IndexOf('_') + 1);
    FileInfo info = new FileInfo(item);
    <tr id="@(businessID)">
        <td>@(businessID)</td>
        <td>@(info.LastWriteTime)</td>
        <td>
            <button type="button" id="backupfile" class="px-3 btn btn-sm eivo__btn--check"
                onclick="moveFile('@(businessID)','@Html.Raw(item.EncryptData())');">
                歸檔
            </button>
        </td>
        <td>
            <button type="button" id="company" class="px-3 btn btn-sm eivo__btn--default"
                onclick="transferCompany('@(businessID)','@Html.Raw(item.EncryptData())');">
                轉營業人
            </button>
        </td>
        <td>

            <button type="button" id="zip" class="px-3 btn btn-sm eivo__btn--default"
                onclick="location.href='@Url.Action("SetAll", "InvoiceNumberApply", new { businessID })'">
                Zip 壓縮檔
            </button>
        </td>

        @*<td>
        <input type="button" target="_blank" value="UpdateData" onclick="location.href='@Url.Action("Update", "InvoiceNumberApply", new { businessID = @item.BusinessId })'" />
    </td>*@

    </tr>
}

<script type="text/javascript">

    function transferCompany(value, keyID) {
        $.post('@(Url.Action("TransferOrganization", "InvoiceNumberApply"))'
            , { 'KeyID': keyID }
            , function (data) {
                if ($.isPlainObject(data)) {
                    if (data.result) {
                        alert('營業人轉檔完成.');
                        $('#' + value + '').remove();
                    } else {
                        alert(data.message);
                    }
                } else {
                    $(data).appendTo($('body'));
                }
            });
    }

    function moveFile(value, keyID) {
        $.post('@(Url.Action("MoveFile", "InvoiceNumberApply"))'
            , { 'KeyID': keyID }
            , function (data) {
                if ($.isPlainObject(data)) {
                    if (data.result) {
                        alert('歸檔完成.');
                        $('#' + value + '').remove();
                    } else {
                        alert(data.message);
                    }
                } else {
                    $(data).appendTo($('body'));
                }
            });
    }

    $(this).submit(function () {

        return true; // return false to cancel form action
    });

    $(document).ready(function () {

    });

</script>